<div class="cp-variable-sidebar-header">
	<div id="cpVariableSearch">
		<input class="cp-form-control" placeholder="Search" type="text">
	</div>

	<div id="cpClayCSSBaseThemeCheckbox" data-turbolinks-permanent>
		<label>
			<input type="checkbox" />
			<span class="cp-control-label">Use Clay Base</span>
		</label>
	</div>
</div>