// Clay Paver Site related stuffs

.cp-white { background-color: $white; content: '#{$white}'; color: color-yiq($white); }
.cp-gray-100 { background-color: $gray-100; content: '#{$gray-100}'; color: color-yiq($gray-100); }
.cp-gray-200 { background-color: $gray-200; content: '#{$gray-200}'; color: color-yiq($gray-200); }
.cp-gray-300 { background-color: $gray-300; content: '#{$gray-300}'; color: color-yiq($gray-300); }
.cp-gray-400 { background-color: $gray-400; content: '#{$gray-400}'; color: color-yiq($gray-400); }
.cp-gray-500 { background-color: $gray-500; content: '#{$gray-500}'; color: color-yiq($gray-500); }
.cp-gray-600 { background-color: $gray-600; content: '#{$gray-600}'; color: color-yiq($gray-600); }
.cp-gray-700 { background-color: $gray-700; content: '#{$gray-700}'; color: color-yiq($gray-700); }
.cp-gray-800 { background-color: $gray-800; content: '#{$gray-800}'; color: color-yiq($gray-800); }
.cp-gray-900 { background-color: $gray-900; content: '#{$gray-900}'; color: color-yiq($gray-900); }
.cp-black { background-color: $black; content: '#{$black}'; color: color-yiq($black); }

.cp-blue { background-color: $blue; content: '#{$blue}'; color: color-yiq($blue); }
.cp-indigo { background-color: $indigo; content: '#{$indigo}'; color: color-yiq($indigo); }
.cp-purple { background-color: $purple; content: '#{$purple}'; color: color-yiq($purple); }
.cp-pink { background-color: $pink; content: '#{$pink}'; color: color-yiq($pink); }
.cp-red { background-color: $red; content: '#{$red}'; color: color-yiq($red); }
.cp-orange { background-color: $orange; content: '#{$orange}'; color: color-yiq($orange); }
.cp-yellow { background-color: $yellow; content: '#{$yellow}'; color: color-yiq($yellow); }
.cp-green { background-color: $green; content: '#{$green}'; color: color-yiq($green); }
.cp-teal { background-color: $teal; content: '#{$teal}'; color: color-yiq($teal); }
.cp-cyan { background-color: $cyan; content: '#{$cyan}'; color: color-yiq($cyan); }

.cp-primary { background-color: $primary; content: '#{$primary}'; color: color-yiq($primary); }
.cp-secondary { background-color: $secondary; content: '#{$secondary}'; color: color-yiq($secondary); }
.cp-success { background-color: $success; content: '#{$success}'; color: color-yiq($success); }
.cp-info { background-color: $info; content: '#{$info}'; color: color-yiq($info); }
.cp-warning { background-color: $warning; content: '#{$warning}'; color: color-yiq($warning); }
.cp-danger { background-color: $danger; content: '#{$danger}'; color: color-yiq($danger); }
.cp-light { background-color: $light; content: '#{$light}'; color: color-yiq($light); }
.cp-dark { background-color: $dark; content: '#{$dark}'; color: color-yiq($dark); }

.cp-font-family-sans-serif { font-family: $font-family-sans-serif; content: '#{$font-family-sans-serif}'; }
.cp-font-family-serif { font-family: $font-family-serif; content: '#{$font-family-serif}'; }
.cp-font-family-monospace { font-family: $font-family-monospace; content: '#{$font-family-monospace}'; }
.cp-font-family-base { font-family: $font-family-base; content: '#{$font-family-base}'; }

.cp-font-size-sm { font-size: $font-size-sm; content: '#{$font-size-sm}'; }
.cp-font-size-base { font-size: $font-size-base; content: '#{$font-size-base}'; }
.cp-font-size-base-mobile { font-size: $font-size-base-mobile; content: '#{$font-size-base-mobile}'; }
.cp-font-size-lg { font-size: $font-size-lg; content: '#{$font-size-lg}'; }
.cp-font-size-lg-mobile { font-size: $font-size-lg-mobile; content: '#{$font-size-lg-mobile}'; }

.cp-font-weight-light { font-weight: $font-weight-light; content: '#{$font-weight-light}'; }
.cp-font-weight-normal { font-weight: $font-weight-normal; content: '#{$font-weight-normal}'; }
.cp-font-weight-semi-bold { font-weight: $font-weight-semi-bold; content: '#{$font-weight-semi-bold}'; }
.cp-font-weight-bold { font-weight: $font-weight-bold; content: '#{$font-weight-bold}'; }
.cp-font-weight-bolder { font-weight: $font-weight-bolder; content: '#{$font-weight-bolder}'; }

.cp-line-height-sm { line-height: $line-height-sm; content: '#{$line-height-sm}'; }
.cp-line-height-base { line-height: $line-height-base; content: '#{$line-height-base}'; }
.cp-line-height-lg { line-height: $line-height-lg; content: '#{$line-height-lg}'; }

.cp-headings-font-family { font-family: $headings-font-family; content: '#{$headings-font-family}'; }
.cp-headings-font-weight { font-weight: $headings-font-weight; content: '#{$headings-font-weight}'; }
.cp-headings-line-height { line-height: $headings-line-height; content: '#{$headings-line-height}'; }
.cp-headings-margin-bottom { margin-bottom: $headings-margin-bottom; content: '#{$headings-margin-bottom}'; }
.cp-headings-color { color: $headings-color; content: '#{$headings-color}'; }

#cpGridColumns { content: '#{$grid-columns}'; }
.cp-example-grid-container .cp-example-col-content::after { 
	@include media-breakpoint-up(sm) {
		content: 'max-width: #{map-get($container-max-widths, sm)} @ min-width(#{map-get($grid-breakpoints, sm)})';
	}
	@include media-breakpoint-up(md) {
		content: 'max-width: #{map-get($container-max-widths, md)} @ min-width(#{map-get($grid-breakpoints, md)})';
	}
	@include media-breakpoint-up(lg) {
		content: 'max-width: #{map-get($container-max-widths, lg)} @ min-width(#{map-get($grid-breakpoints, lg)})';
	}
	@include media-breakpoint-up(xl) {
		content: 'max-width: #{map-get($container-max-widths, xl)} @ min-width(#{map-get($grid-breakpoints, xl)})';
	}
}
.cp-example-container-fluid-max-sm .cp-example-col-content:after { content: 'max-width: #{map-get($container-max-widths, sm)}'; }
.cp-example-container-fluid-max-md .cp-example-col-content:after { content: 'max-width: #{map-get($container-max-widths, md)}'; }
.cp-example-container-fluid-max-lg .cp-example-col-content:after { content: 'max-width: #{map-get($container-max-widths, lg)}'; }
.cp-example-container-fluid-max-xl .cp-example-col-content:after { content: 'max-width: #{map-get($container-max-widths, xl)}'; }