*,
*::before,
*::after {
	box-sizing: border-box;
}

html { height: 100%; }

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	height: 100%;
	margin: 0;
	padding: 0.1px 0;
}

#main {
	align-items: center;
	background: rgb(161, 34, 0);
	background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(234, 104, 73) 0%, rgb(179, 38, 0) 100%);
	color: #FFF;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
}

a { text-decoration: none; }

.cp-github-logo {
	right: 12px;
	position: absolute;
	top: 12px;
	width: 32px;
}

.site-title {
	font-size: 4rem;
	letter-spacing: 3px;
	margin-bottom: 2rem;
	margin-top: 0;
	text-align: center;
	text-shadow: 6px 6px rgba(0, 0, 0, 0.2);
}

.site-navigation {
	max-width: 811px;
	text-align: center;
}

.version-divider {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.older-versions {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.older-versions .cp-btn {
	margin-bottom: 4px;
	margin-right: 4px;
}

.cp-img-fluid {
	max-width: 100%;
}

.lexicon-icon {
	align-items: center;
	display: inline-flex;
	fill: currentColor;
	height: 1em;
	justify-content: center;
	vertical-align: middle;
	width: 1em;
}

.cp-btn {
	border-radius: 2px;
	border: 1px solid transparent;
	display: inline-block;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	padding: 0.375rem 0.75rem;
	text-align: center;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

.cp-btn:hover {
	text-decoration: none;
}

button.cp-btn:focus {
	box-shadow: 0 0 0 3px rgba(11, 95, 255, 0.25);
	outline: 0;
}

.cp-btn-primary {
	background-color: #4e4e69;
	border-color: #262635;
	color: #FFF;
}

.cp-btn-primary:hover {
	background-color: #262635;
	border-color: #262635;
	color: #FFF;
}

.cp-form-control {
	background-color: #212121;
	border: 1px solid #000;
	border-radius: 2px;
	color: #FFF;
	display: block;
	font-size: 16px;
	padding: 0.5rem 1rem;
	width: 100%;
}

.cp-form-control:hover {
	color: #DDD;
	text-decoration: none;
}

.cp-form-control:focus {
	box-shadow: 0 0 0 3px rgba(11, 95, 255, 0.25);
	outline: 0;
}

.dropdown-menu {
	border-radius: 0.25rem;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.15);
	color: #212529;
	display: none;
	float: left;
	font-size: 1rem;
	left: 0;
	list-style: none;
	margin: 0.125rem 0 0;
	min-width: 200px;
	padding: 0.5rem 0;
	position: absolute;
	text-align: left;
	top: 100%;
	z-index: 1000;
}

.dropdown-item {
	background-color: transparent;
	border: 0;
	clear: both;
	color: #212529;
	display: block;
	font-weight: 400;
	padding: 0.25rem 1.5rem;
	text-align: inherit;
	white-space: nowrap;
	width: 100%;
}

.dropdown-item:hover {
	background-color: #F8F9FA;
	color: #16181B;
	text-decoration: none;
}

.dropdown-item.active,
.dropdown-item:active {
	background-color: #f0f5ff;
	color: #212529;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
	background-color: transparent;
	color: #6c757d;
}

.dropdown-menu.show {
	display: block;
}

.status-404 {
	max-width: 1200px;
	text-align: center;
}

.status-404 .site-title:first-child {
	margin-bottom: 0;
}