html {
	height: 100%;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: scrollbar;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	margin: 0;
}

a:hover {
	cursor: pointer;
}

#content {
	padding: 15px 0 15px 300px;
}

#content.full-width {
	padding-left: 0;
}

#content > .container-fluid {
	padding-left: 30px;
	padding-right: 30px;
}

#clayPaverSite {
	padding-top: 50px;
}

#clayPaverNavigation {
	bottom: 0;
	overflow: auto;
	padding-left: 15px;
	padding-top: 30px;
	position: fixed;
	top: 0;
	width: 200px;
}

@media (max-width: 991px) {
	#content {
		left: 0;
	}

	#clayPaverNavigation {
		display: none;
	}
}

.clay-variable-editor {
	bottom: 0;
	overflow: auto;
	padding: 15px;
	position: fixed;
	right: 0;
	top: 0;
	width: 300px;
}

.clay-variable-editor .control-label {
	display: block;
}

.clay-variable-editor-download {
	margin-left: 5px;
}

.cp-page-header {
	font-size: 32px;
	margin-bottom: 20px;
	text-transform: capitalize;
}

/* CP Page Navigation */

.cp-page-navigation {
	max-width: 425px;
	width: 100%;
}

.cp-page-navigation-bottom {
	margin-top: 40px;
}

.cp-page-navigation-top {
	margin-bottom: 40px;
}

.cp-prev-page-link,
.cp-next-page-link {
	text-transform: capitalize;
}

#cpOrderArrowRight {
	margin-left: 4px;
	margin-top: -2px;
	transform: rotate(90deg);
}

#cpOrderArrowLeft {
	margin-right: 4px;
	margin-top: -2px;
	transform: rotate(-90deg);
}

/* Dropdown */

.cp-dropdown {
	display: inline-block;
}

.clay-paver-dropdown-menu {
	background-color: #FFF;
	border-radius: 2px;
	border: 1px solid #AAA;
	display: none;
	list-style: none;
	margin-top: 2px;
	max-height: 250px;
	min-width: 175px;
	overflow: auto;
	padding: 0;
	position: absolute;
	z-index: 2000;
}

.open > .clay-paver-dropdown-menu {
	display: block;
}

#addNewTheme {
	padding-left: 8px;
	padding-right: 8px;
}

#addNewTheme .cp-form-control {
	max-width: calc(100% - 40px);
	vertical-align: middle;
}

#importSassVariables textarea {
	min-height: 450px;
	resize: vertical;
}

.cp-import-divider {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 24px;
	margin-top: 24px;
}

.cp-img-fluid {
	max-width: 100%;
}

/* Heading */

.cp-header {
	color: #333;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 8.5px;
	margin-top: 17px;
}

.cp-component-header {
	font-size: 19px;
	line-height: 1.2;
	margin-bottom: 12px;
	margin-top: -41px;
	padding-top: 65px;
	position: relative;
	z-index: -1;
}

/* Dropdowns */

.cp-dropdown-link {
	color: #000;
	display: block;
	font-size: 14px;
	padding: 5px 8px;
	text-decoration: none;
}

.cp-dropdown-link:focus,
.cp-dropdown-link:hover {
	color: #000;
}

.cp-page-link {
	color: #000;
	display: block;
	font-size: 14px;
	padding: 5px 8px;
	text-decoration: none;
}

.cp-page-link:focus,
.cp-page-link:hover {
	color: #000;
}

/* Link */

.cp-link {
	color: #2962ff;
}

.cp-link:hover,
.cp-link:focus {
	color: #0039cb;
}

/* Button */

.cp-btn {
	background-image: none;
	border-radius: 2px;
	border: 1px solid transparent;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 0;
	padding: 6px;
	text-align: center;
	touch-action: manipulation;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

.cp-btn:focus {
	box-shadow: 0 0 0 3px rgba(11, 95, 255, 0.25);
	outline: 0;
}

a.cp-btn,
a.cp-btn:hover,
a.cp-btn:focus {
	text-decoration: none;
}

.cp-btn-primary {
	background-color: #2962ff;
	border-color: #0039cb;
	color: #fff;
}

.cp-btn-secondary {
	background-color: #fafafa;
	border-color: #c7c7c7;
	color: #000;
}

.cp-btn-secondary:hover {
	background-color: #f5f5f5;
	color: #000;
}

.cp-btn-secondary:focus {
	box-shadow: 0 0 0 3px rgba(205, 206, 217, 0.5);
	color: #000;
}

.open .cp-btn-secondary,
.cp-btn-secondary:active {
	background-color: #eee;
	color: #000;
}

/* Labels */

.cp-label {
	border-radius: 2px;
	display: inline-block;
	font-size: 13px;
	line-height: 1;
	margin-right: 15px;
	padding: 1px 10px 2px;
	vertical-align: middle;
}

.cp-label-default {
	background-color: #EEE;
	color: #000;
}

/* Forms */

.cp-unset-link {
	float: right;
}

.cp-control-label {
	color: #000;
	cursor: pointer;
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 2px 0;
}

.cp-control-label-indicator:hover ~ .cp-tooltip,
.cp-control-label-indicator:focus ~ .cp-tooltip,
.cp-tooltip:hover {
	opacity: 1;
	z-index: 1070;
}

.cp-tooltip {
	display: block;
	font-family: sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-break: auto;
	line-height: 1.5;
	margin: 0;
	opacity: 0;
	position: absolute;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: break-word;
	z-index: -1;
}

.cp-tooltip-inner {
	background-color: #333;
	border-radius: 0;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
	color: #fff;
	max-width: 230px;
	padding: 4px 12px;
	text-align: left;
}

.cp-tooltip-text {
	-moz-user-select: all;
	-ms-user-select: all;
	-webkit-user-select: all;
	user-select: all;
}

.cp-tooltip .cp-arrow {
	display: block;
	height: 6px;
	position: absolute;
	width: 12px;
}

.cp-tooltip .cp-arrow::before {
	border-color: transparent;
	border-style: solid;
	content: '';
	position: absolute;
}

.cp-tooltip-bottom-left {
	margin-top: -5px;
	padding-top: 6px;
}

.cp-tooltip-bottom-left .cp-arrow {
	left: 0;
	top: 0;
}

.cp-tooltip-bottom-left .cp-arrow::before {
	border-bottom-color: #333;
	border-width: 0 6px 6px;
	bottom: 0;
}

.cp-form-control {
	border: 1px solid #c7c7c7;
	border-radius: 2px;
	box-sizing: border-box;
	font-size: 16px;
	padding-left: 8px;
	padding-right: 8px;
	width: 100%;
}

.cp-form-control:focus {
	border-color: #90caf9;
	box-shadow: 0 0 0 3px rgba(11, 95, 255, 0.25);
	outline: 0;
}

.cp-form-control-color {
	-webkit-appearance: none;
	border-width: 0;
	bottom: 4px;
	cursor: pointer;
	height: 18px;
	padding: 0;
	position: absolute;
	right: 5px;
	width: 18px;
	z-index: 1;
}

.cp-form-control-color::-webkit-color-swatch-wrapper {
	padding: 0;
}

.cp-form-control-color::-webkit-color-swatch {
	border-color: #a7a7a7;
	border-radius: 2px;
}

.cp-form-control-color::-moz-color-swatch {
	border-color: #a7a7a7;
	border-radius: 2px;
	margin-top: -1px;
}

.input-color-shim .cp-form-control-color {
	display: none;
}

.cp-form-group {
	margin-bottom: 16px;
	position: relative;
}

.cp-form-group-color .cp-form-control[type="text"] {
	padding-right: 27px;
}

.cp-variables-form-header {
	background-color: #393a4a;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	color: #FFF;
	font-size: 14px;
	margin: 0 -15px 16px -15px;
	padding: 10px 15px;
}

.cp-variables-form-header a {
	color: #FFF;
	text-decoration: none;
}

.cp-variables-form-header a:hover {
	color: #EEE;
}

.cp-variables-form-subheader {
	background-color: #393a4a;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	color: #FFF;
	font-size: 14px;
	margin: 0 -15px 16px -15px;
	padding: 10px 15px;
}

/* App Navigation */

.cp-app-navigation {
	background: #b3472d;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	font-family: sans-serif;
	height: 50px;
	left: 0;
	padding: 12px 15px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}

.cp-app-navigation-link {
	color: #FFF;
	font-size: 20px;
	font-weight: 500;
	margin-right: 4px;
	text-decoration: none;
	vertical-align: middle;
}

.cp-app-navigation-link:focus,
.cp-app-navigation-link:hover {
	color: #BDBDBD;
	text-decoration: none;
}

.cp-app-label {
	margin-right: 15px;
}

.cp-github-logo {
	display: block;
	float: right;
	width: 28px;
}

/* Sidebar */

.cp-variable-sidebar {
	background-color: #FFF;
	bottom: 0;
	box-shadow: 1px 0 3px -2px rgba(0, 0, 0, 0.75);
	color: #000;
	font-family: sans-serif;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 50px;
	width: 300px;
	z-index: 1;
}

.cp-variable-sidebar-header {
	box-shadow: 0 1px 6px -3px rgba(0, 0, 0, 0.75);
	height: 60px;
	padding: 15px;
	position: relative;
	z-index: 1;
}

.cp-variable-sidebar-body {
	bottom: 60px;
	left: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 0 15px 15px;
	position: absolute;
	right: 0;
	top: 0;
}

.cp-variable-sidebar-footer {
	border-top: 1px solid #e0e0e0;
	bottom: 0;
	box-sizing: border-box;
	height: 60px;
	left: 0;
	padding: 15px;
	position: absolute;
	right: 0;
}

.cp-variable-sidebar-footer .cp-btn {
	padding-left: 16px;
	padding-right: 16px;
}

/* Example Containers */

.cp-populate-content {
	-moz-user-select: all;
	-ms-user-select: all;
	-webkit-user-select: all;
	user-select: all;
}

.cp-font-family::after {
	content: 'The quick brown fox jumped over the lazy dog.';
	display: block;
	margin-top: 0.5rem;
}

.cp-example-swatch-container {
	padding-left: 12px;
	padding-right: 12px;
	width: 33.33333%;
}

@media (max-width: 767px) {
	.cp-example-swatch-container {
		width: 50%;
	}
}

.cp-swatch {
	align-items: center;
	display: flex;
	height: 50px;
	padding-left: 12px;
	-moz-user-select: all;
	-ms-user-select: all;
	-webkit-user-select: all;
	user-select: all;
}

.cp-swatch::before {
	margin-right: 12px;
}

.cp-white::before { content: 'white:'; }
.cp-gray-100::before { content: 'gray-100:'; }
.cp-gray-200::before { content: 'gray-200:'; }
.cp-gray-300::before { content: 'gray-300:'; }
.cp-gray-400::before { content: 'gray-400:'; }
.cp-gray-500::before { content: 'gray-500:'; }
.cp-gray-600::before { content: 'gray-600:'; }
.cp-gray-700::before { content: 'gray-700:'; }
.cp-gray-800::before { content: 'gray-800:'; }
.cp-gray-900::before { content: 'gray-900:'; }
.cp-black::before { content: 'black:'; }

.cp-blue::before { content: 'blue:'; }
.cp-indigo::before { content: 'indigo:'; }
.cp-purple::before { content: 'purple:'; }
.cp-pink::before { content: 'pink:'; }
.cp-red::before { content: 'red:'; }
.cp-orange::before { content: 'orange:'; }
.cp-yellow::before { content: 'yellow:'; }
.cp-green::before { content: 'green:'; }
.cp-teal::before { content: 'teal:'; }
.cp-cyan::before { content: 'cyan:'; }

.cp-primary::before { content: 'primary:'; }
.cp-secondary::before { content: 'secondary:'; }
.cp-success::before { content: 'success:'; }
.cp-info::before { content: 'info:'; }
.cp-warning::before { content: 'warning:'; }
.cp-danger::before { content: 'danger:'; }
.cp-light::before { content: 'light:'; }
.cp-dark::before { content: 'dark:'; }

.cp-example-light-container {
	background-color: #000;
	display: inline-block;
	padding: 4px;
	vertical-align: baseline;
}

.cp-example-container {
	display: inline-block;
	padding: 4px;
	vertical-align: baseline;
}

.cp-example-container .popover {
	position: relative;
	z-index: 0;
}

.cp-example-container .tooltip {
	position: relative;
	z-index: 0;
}

.cp-example-container-mb-5 {
	margin-bottom: 5px;
}

.cp-example-card-container {
	max-width: 288px;
	padding-left: 12px;
	padding-right: 12px;
	width: 100%;
}

.cp-example-card-horizontal-container {
	max-width: 450px;
	padding-left: 12px;
	padding-right: 12px;
	width: 100%;
}

.cp-example-dropdown-menu-container {
	display: inline-block;
	margin-right: 15px;
	vertical-align: top;
}

.cp-example-dropdown-menu-container .dropdown-menu {
	display: block;
	position: static;
}

.cp-example-nav-stacked-container {
	max-width: 300px;
}

.cp-example-sidebar-container {
	max-width: 450px;
}

.cp-user-icon-container {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

.cp-user-icon-container > div {
	margin-left: auto;
	margin-right: auto;
}

.cp-example-lexicon-icon-item {
	background-color: #dbedfd;
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	min-height: 125px;
	min-width: 175px;
	padding: 35px 5px 0;
	text-align: center;
	vertical-align: top;
	width: calc(16.666667% - 10px);
}

.cp-example-lexicon-icon-item-text {
	margin-top: 4px;
	-moz-user-select: all;
	-ms-user-select: all;
	-webkit-user-select: all;
	user-select: all;
}

#cpLexiconFlagIcons .cp-example-lexicon-icon-item {
	padding-top: 10px;
}

.cp-example-bg-checkered {
	height: 150px;
	max-width: 150px;
	width: 100%;
}

/* Grid */

.cp-example-col {
	background-color: #fdf8f1;
}

.cp-example-col-content {
	background-color: #dbedfd;
	padding-bottom: 13px;
	padding-top: 13px;
	text-align: center;
}

/* Loading */

.cp-loading {
	background: #FFF;
	bottom: 0;
	color: #000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10000;
}

.cp-loading + #clayPaverSite {
	display: none;
}

.cp-loading-spinner {
	display: inline-block;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.lds-heart-container {
	display: inline-block;
	margin-right: -15px;
	transform: scale(0.5);
	vertical-align: middle;
}

.lds-heart {
	display: inline-block;
	height: 64px;
	position: relative;
	transform-origin: 32px 32px;
	transform: rotate(45deg);
	width: 64px;
}

.lds-heart .lds-heart-icon {
	animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
	background: tomato;
	height: 26px;
	left: 19px;
	position: absolute;
	top: 23px;
	width: 26px;
}

.lds-heart .lds-heart-icon:after,
.lds-heart .lds-heart-icon:before {
	background: tomato;
	content: " ";
	display: block;
	height: 26px;
	position: absolute;
	width: 26px;
}

.lds-heart .lds-heart-icon:before {
	border-radius: 50% 0 0 50%;
	left: -17px;
}

.lds-heart .lds-heart-icon:after {
	border-radius: 50% 50% 0 0;
	top: -17px;
}

@keyframes lds-heart {
	0% {
		transform: scale(0.95);
	}
	5% {
		transform: scale(1.1);
	}
	39% {
		transform: scale(0.85);
	}
	45% {
		transform: scale(1);
	}
	60% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(0.9);
	}
}

/* Status Bar */

.cp-status-bar {
	background-color: rgba(0, 0, 0, 0.75);
	bottom: 0;
	color: #FFF;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 500;
	left: auto;
	min-width: 400px;
	opacity: 0;
	padding: 6px 20px;
	position: fixed;
	right: 0;
	transition: opacity 0.5s ease;
	z-index: 9999;
}