<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Loading Animation' }) %>
<div class="cp-example-container">
	<span aria-hidden="true" class="loading-animation"></span>
</div>
<div class="cp-example-light-container">
	<span aria-hidden="true" class="loading-animation loading-animation-light"></span>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Loading Animation Sm' }) %>
<div class="cp-example-container">
	<span aria-hidden="true" class="loading-animation loading-animation-sm"></span>
</div>
<div class="cp-example-light-container">
	<span aria-hidden="true" class="loading-animation loading-animation-light loading-animation-sm"></span>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Buttons with Loading Animation' }) %>
<button class="btn btn-primary" type="button">
	<span class="inline-item inline-item-before">
		<span aria-hidden="true" class="loading-animation"></span>
	</span>Loading
</button>
<button class="btn btn-secondary" type="button">
	<span class="inline-item inline-item-before">
		<span aria-hidden="true" class="loading-animation"></span>
	</span>Loading
</button>
<button class="btn btn-success" type="button">
	<span class="inline-item inline-item-before">
		<span aria-hidden="true" class="loading-animation"></span>
	</span>Loading
</button>
<button class="btn btn-info" type="button">
	<span class="inline-item inline-item-before">
		<span aria-hidden="true" class="loading-animation"></span>
	</span>Loading
</button>
<button class="btn btn-warning" type="button">
	<span class="inline-item inline-item-before">
		<span aria-hidden="true" class="loading-animation"></span>
	</span>Loading
</button>
<button class="btn btn-danger" type="button">
	<span class="inline-item inline-item-before">
		<span aria-hidden="true" class="loading-animation"></span>
	</span>Loading
</button>
<button class="btn btn-light" type="button">
	<span class="inline-item inline-item-before">
		<span aria-hidden="true" class="loading-animation"></span>
	</span>Loading
</button>
<button class="btn btn-dark" type="button">
	<span class="inline-item inline-item-before">
		<span aria-hidden="true" class="loading-animation"></span>
	</span>Loading
</button>
<button class="btn btn-link" type="button">
	<span class="inline-item inline-item-before">
		<span aria-hidden="true" class="loading-animation"></span>
	</span>Loading
</button>