<h3>Custom Checkbox</h3>
<div class="sheet">
	<div class="form-group">
		<div class="custom-control custom-checkbox">
			<label>
				<input class="custom-control-input" type="checkbox">
				<span class="custom-control-label">
					<span class="custom-control-label-text">Unchecked</span>
				</span>
			</label>
		</div>
		<div class="custom-control custom-checkbox">
			<label>
				<input checked class="custom-control-input" type="checkbox">
				<span class="custom-control-label">
					<span class="custom-control-label-text">Checked</span>
				</span>
			</label>
		</div>
		<div class="custom-control custom-checkbox">
			<label>
				<input class="clay-site-custom-checkbox-indeterminate custom-control-input" type="checkbox">
				<span class="custom-control-label">
					<span class="custom-control-label-text">Indeterminate</span>
				</span>
			</label>
		</div>
	</div>
	<div class="form-group">
		<div class="custom-control custom-checkbox">
			<label>
				<input class="custom-control-input" disabled type="checkbox">
				<span class="custom-control-label">
					<span class="custom-control-label-text">Unchecked Disabled</span>
				</span>
			</label>
		</div>
		<div class="custom-control custom-checkbox">
			<label>
				<input checked class="custom-control-input" disabled type="checkbox">
				<span class="custom-control-label">
					<span class="custom-control-label-text">Checked Disabled</span>
				</span>
			</label>
		</div>
		<div class="custom-control custom-checkbox">
			<label>
				<input class="clay-site-custom-checkbox-indeterminate custom-control-input" disabled type="checkbox">
				<span class="custom-control-label">
					<span class="custom-control-label-text">Indeterminate Disabled</span>
				</span>
			</label>
		</div>
	</div>
</div>

<h3>Custom Radio</h3>
<div class="sheet">
	<div class="form-group">
		<div class="custom-control custom-radio">
			<label>
				<input checked class="custom-control-input" id="radio1" name="radio" type="radio">
				<span class="custom-control-label">
					<span class="custom-control-label-text">Toggle this custom radio</span>
				</span>
			</label>
		</div>
		<div class="custom-control custom-radio">
			<label>
				<input class="custom-control-input" id="radio2" name="radio" type="radio">
				<span class="custom-control-label">
					<span class="custom-control-label-text">Or toggle this other custom radio</span>
				</span>
			</label>
		</div>
	</div>
</div>

<h3>Custom Controls Inline</h3>
<div class="sheet">
	<div class="form-group">
		<div class="custom-control custom-control-inline custom-radio">
			<label>
				<input class="custom-control-input" disabled id="radioStacked3" name="radio-stacked" type="radio">
				<span class="custom-control-label">
					<span class="custom-control-label-text">Toggle this custom radio</span>
				</span>
			</label>
		</div>
		<div class="custom-control custom-control-inline custom-radio">
			<label>
				<input class="custom-control-input" id="radioStacked4" name="radio-stacked" type="radio">
				<span class="custom-control-label">
					<span class="custom-control-label-text">Or toggle this other custom radio</span>
				</span>
			</label>
		</div>
	</div>
</div>