<%
	for (let i = 0; i < arr.length; i++) {
		if (arr[i].header) {
%>

			<h4 class="cp-variables-form-header"><%= arr[i].header.replace(/-/g, ' ') %></h4>

<%
			continue;
		}

		if (arr[i].subheader) {
%>

			<h5 class="cp-variables-form-subheader"><%= arr[i].subheader.replace(/-/g, ' ') %></h5>

<%
			continue;
		}
%>

		<%- include('../cpTextInput', { id: arr[i].id, color: arr[i].color, tooltip: arr[i].tooltip, svgIconsPath: svgIconsPath }) %>

<%
	}
%>