<h4 class="cp-variables-form-header">Settings</h4>
<%-
	printInputs([
		{ id: 'enable-scaling-components', },
		{ id: 'scaling-breakpoint-down', },
		{ id: 'enable-shadows', },
		{ id: 'enable-transitions', },
		{ id: 'enable-caret', },
		{ id: 'enable-gradients', },
		{ id: 'enable-grid-classes', },
		{ id: 'enable-print-styles', },
	]);
%>

<h4 class="cp-variables-form-header">Printing</h4>
<%-
	printInputs([
		{ id: 'print-page-size', },
		{ id: 'print-body-min-width', },
	]);
%>