<h4 class="cp-variables-form-header">Nav Pills</h4>
<%- printInputs([
	{ id: 'nav-pills-border-radius', },
]) %>

<h4 class="cp-variables-form-header">Nav Pills Active</h4>
<%- printInputs([
	{ id: 'nav-pills-link-active-color', color: true, },
	{ id: 'nav-pills-link-active-bg', color: true, },
]) %>