<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Clay 2 Paver</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/home.css" type="text/css" />
	<script src="/js/svg4everybody.js"></script>
	<script src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
	<section id="main">
		<a class="cp-github-logo" href="https://github.com/pat270/clay-paver" rel="noopener noreferrer" target="_blank">
			<img class="cp-img-fluid" src="/images/GitHub-Mark-Light-64px.png">
		</a>
		<div class="status-404">
			<h1 class="site-title">404</h1>
			<div class="site-title">Sorry, The page you were looking for does not exist.</div>
			<a class="cp-btn cp-btn-primary" href="/">Back Home</a>
		</div>
	</section>

	<script>
		svg4everybody({ polyfill: true });
	</script>
</body>
</html>