<h3>Alerts with Embedded Links</h3>
<div class="alert alert-default">
	<strong class="lead">Default</strong>You just read the <a href="#" class="alert-link">alert message</a> successfully.
</div>
<div class="alert alert-success">
	<strong class="lead">Success</strong> You just read the <a href="#1" class="alert-link">alert message</a> successfully.
</div>
<div class="alert alert-info">
	<strong class="lead">Info</strong> This <a href="#1" class="alert-link">alert</a> needs your attention.
</div>
<div class="alert alert-warning">
	<strong class="lead">Warning</strong> This alert is a <a href="#1" class="alert-link">warning message</a>.
</div>
<div class="alert alert-danger">
	<strong class="lead">Danger</strong> <a href="#1" class="alert-link">Something</a> is not right.
</div>

<h3>Dismissible Alerts</h3>
<div class="alert alert-dismissible alert-default" data-dismiss="alert">
	<button aria-label="Close" class="close" type="button">
		<svg aria-hidden="true" class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
			<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
		</svg>
	</button>
	<strong class="lead">Default</strong> You just read the alert message successfully.
</div>

<div class="alert alert-dismissible alert-success" data-dismiss="alert" role="alert">
	<button aria-label="Close" class="close" type="button">
		<svg aria-hidden="true" class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
			<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
		</svg>
	</button>
	<strong class="lead">Success</strong> You just read the alert message successfully.
</div>

<div class="alert alert-dismissible alert-info" data-dismiss="alert" role="alert">
	<button aria-label="Close" class="close" type="button">
		<svg aria-hidden="true" class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
			<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
		</svg>
	</button>
	<strong class="lead">Info</strong> This alert needs your attention.
</div>

<div class="alert alert-dismissible alert-warning" data-dismiss="alert" role="alert">
	<button aria-label="Close" class="close" type="button">
		<svg aria-hidden="true" class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
			<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
		</svg>
	</button>
	<strong class="lead">Warning</strong> This alert is a warning message.
</div>

<div class="alert alert-dismissible alert-danger" data-dismiss="alert" role="alert">
	<button aria-label="Close" class="close" type="button">
		<svg aria-hidden="true" class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
			<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
		</svg>
	</button>
	<strong class="lead">Danger</strong> Something is not right.
</div>

<h3>Alert Notification</h3>
<div class="alert alert-dismissible alert-notification alert-danger" data-dismiss="alert" role="alert">
	<button aria-label="Close" class="close" type="button">
		<svg aria-hidden="true" class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
			<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
		</svg>
	</button>
	<strong class="lead">Danger:</strong>
	<p>Due to inactivity, your session has expired. Please save any data you may have entered before refreshing the page. <a class="alert-link" href="#1">Log in</a></p>
</div>

<div class="alert alert-dismissible alert-notification alert-warning" data-dismiss="alert" role="alert">
	<button aria-label="Close" class="close" type="button">
		<svg aria-hidden="true" class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
			<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
		</svg>
	</button>
	<strong class="lead">Warning:</strong>
	<p>Due to inactivity, your session will expire in 00:00:56. To extend your session another 2 minutes click: <a class="alert-link" href="#1">Extend</a>.</p>
</div>

<div class="alert alert-dismissible alert-notification alert-info" data-dismiss="alert" role="alert">
	<button aria-label="Close" class="close" type="button">
		<svg aria-hidden="true" class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
			<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
		</svg>
	</button>
	<strong class="lead">Meeting Rescheduled:</strong>
	<p>The UX Team has rescheduled to the following date: 2014 - 12 - 17.</p>
	<p>Please complete the attendance form to confirm your attendance: <a class="alert-link" href="#1">More Info</a>.</p>
</div>

<div class="alert alert-dismissible alert-notification alert-success" data-dismiss="alert" role="alert">
	<button aria-label="Close" class="close" type="button">
		<svg aria-hidden="true" class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
			<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
		</svg>
	</button>
	<strong class="lead">Meeting Rescheduled:</strong>
	<p>The UX Team has rescheduled to the following date: 2014 - 12 - 17.</p>
	<p>Please complete the attendance form to confirm your attendance: <a class="alert-link" href="#1">More Info</a>.</p>
</div>