<h3>Badge</h3>
<div>
	<span class="badge">Base</span>
	<span class="badge badge-default">Default</span>
	<span class="badge badge-primary">Primary</span>
	<span class="badge badge-success">Success</span>
	<span class="badge badge-info">Info</span>
	<span class="badge badge-warning">Warning</span>
	<span class="badge badge-danger">Danger</span>
</div>

<h3>Badge Sm</h3>
<div>
	<span class="badge badge-sm">Base</span>
	<span class="badge badge-default badge-sm">Default</span>
	<span class="badge badge-primary badge-sm">Primary</span>
	<span class="badge badge-sm badge-success">Success</span>
	<span class="badge badge-info badge-sm">Info</span>
	<span class="badge badge-sm badge-warning">Warning</span>
	<span class="badge badge-danger badge-sm">Danger</span>
</div>

<h3>Badge Lg</h3>
<div>
	<span class="badge badge-lg">Base</span>
	<span class="badge badge-default badge-lg">Default</span>
	<span class="badge badge-lg badge-primary">Primary</span>
	<span class="badge badge-lg badge-success">Success</span>
	<span class="badge badge-info badge-lg">Info</span>
	<span class="badge badge-lg badge-warning">Warning</span>
	<span class="badge badge-danger badge-lg">Danger</span>
</div>

<h3>Badge as Links</h3>
<div>
	<a class="badge" href="#1">Base</a>
	<a class="badge badge-default" href="#1">Default</a>
	<a class="badge badge-primary" href="#1">Primary</a>
	<a class="badge badge-success" href="#1">Success</a>
	<a class="badge badge-info" href="#1">Info</a>
	<a class="badge badge-warning" href="#1">Warning</a>
	<a class="badge badge-danger" href="#1">Danger</a>
</div>

<div>
	<span class="badge"><a href="#1">Base</a></span>
	<span class="badge badge-default"><a href="#1">Default</a></span>
	<span class="badge badge-primary"><a href="#1">Primary</a></span>
	<span class="badge badge-success"><a href="#1">Success</a></span>
	<span class="badge badge-info"><a href="#1">Info</a></span>
	<span class="badge badge-warning"><a href="#1">Warning</a></span>
	<span class="badge badge-danger"><a href="#1">Danger</a></span>
</div>

<h3>Badge with Lexicon Icons</h3>
<div>
	<span class="badge badge-default badge-sm">
		Small Badge
		<a href="#1">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
				<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
			</svg>
		</a>
	</span>
	<span class="badge badge-primary">
		Default Badge
		<a href="#1">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
				<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
			</svg>
		</a>
	</span>
	<span class="badge badge-lg badge-success">
		Large Badge
		<a href="#1">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
				<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
			</svg>
		</a>
	</span>
</div>

<h3>Badge with Glyphicon / Font Awesome</h3>
<div>
	<span class="badge badge-default badge-sm">
		Small Badge
		<a href="#1">
			<span class="icon-remove"></span>
		</a>
	</span>
	<span class="badge badge-primary">
		Default Badge
		<a href="#1">
			<span class="glyphicon glyphicon-remove"></span>
		</a>
	</span>
	<span class="badge badge-lg badge-success">
		Large Badge
		<a href="#1">
			<span class="icon-remove"></span>
		</a>
	</span>
</div>