<div class="autofit-row cp-page-navigation cp-page-navigation-top">
	<div class="autofit-col autofit-col-expand">
		<a href="/label">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow-up" id="cpOrderArrowLeft">
				<use xlink:href="../../images/icons/icons.svg#order-arrow-up" />
			</svg>
			Label
		</a>
	</div>
	<div class="autofit-col">
		<a href="/sticker">
			Sticker
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow-up" id="cpOrderArrowRight">
				<use xlink:href="../../images/icons/icons.svg#order-arrow-up" />
			</svg>
		</a>
	</div>
</div>

<h3>Badge</h3>
<div>
	<span class="badge badge-primary">
		<span class="badge-item badge-item-expand">8</span>
	</span>
	<span class="badge badge-secondary">
		<span class="badge-item badge-item-expand">87</span>
	</span>
	<span class="badge badge-success">
		<span class="badge-item badge-item-expand">999K</span>
	</span>
	<span class="badge badge-info">
		<span class="badge-item badge-item-expand">91</span>
	</span>
	<span class="badge badge-warning">
		<span class="badge-item badge-item-expand">21</span>
	</span>
	<span class="badge badge-danger">
		<span class="badge-item badge-item-expand">130</span>
	</span>
	<div class="cp-example-light-container">
		<span class="badge badge-light">
			<span class="badge-item badge-item-expand">130</span>
		</span>
	</div>
	<span class="badge badge-dark">
		<span class="badge-item badge-item-expand">130</span>
	</span>
</div>

<div>
	<span class="badge badge-primary">
		<span class="badge-item badge-item-expand">Primary</span>
	</span>
	<span class="badge badge-secondary">
		<span class="badge-item badge-item-expand">Secondary</span>
	</span>
	<span class="badge badge-success">
		<span class="badge-item badge-item-expand">Success</span>
	</span>
	<span class="badge badge-info">
		<span class="badge-item badge-item-expand">Info</span>
	</span>
	<span class="badge badge-warning">
		<span class="badge-item badge-item-expand">Warning</span>
	</span>
	<span class="badge badge-danger">
		<span class="badge-item badge-item-expand">Danger</span>
	</span>
	<div class="cp-example-light-container">
		<span class="badge badge-light">
			<span class="badge-item badge-item-expand">Light</span>
		</span>
	</div>
	<span class="badge badge-dark">
		<span class="badge-item badge-item-expand">Dark</span>
	</span>
</div>

<h3>Badge as Anchor Tag</h3>
<div>
	<a class="badge badge-primary" href="#1">
		<span class="badge-item badge-item-expand">Primary</span>
	</a>
	<a class="badge badge-secondary" href="#1">
		<span class="badge-item badge-item-expand">Secondary</span>
	</a>
	<a class="badge badge-success" href="#1">
		<span class="badge-item badge-item-expand">Success</span>
	</a>
	<a class="badge badge-info" href="#1">
		<span class="badge-item badge-item-expand">Info</span>
	</a>
	<a class="badge badge-warning" href="#1">
		<span class="badge-item badge-item-expand">Warning</span>
	</a>
	<a class="badge badge-danger" href="#1">
		<span class="badge-item badge-item-expand">Danger</span>
	</a>
	<div class="cp-example-light-container">
		<a class="badge badge-light" href="#1">
			<span class="badge-item badge-item-expand">Light</span>
		</a>
	</div>
	<a class="badge badge-dark" href="#1">
		<span class="badge-item badge-item-expand">Dark</span>
	</a>
</div>

<h3>Badge Pill</h3>
<div>
	<span class="badge badge-pill badge-primary">
		<span class="badge-item badge-item-expand">8</span>
	</span>
	<span class="badge badge-pill badge-secondary">
		<span class="badge-item badge-item-expand">87</span>
	</span>
	<span class="badge badge-pill badge-success">
		<span class="badge-item badge-item-expand">999K</span>
	</span>
	<span class="badge badge-info badge-pill">
		<span class="badge-item badge-item-expand">91</span>
	</span>
	<span class="badge badge-pill badge-warning">
		<span class="badge-item badge-item-expand">21</span>
	</span>
	<span class="badge badge-danger badge-pill">
		<span class="badge-item badge-item-expand">130</span>
	</span>
	<div class="cp-example-light-container">
		<span class="badge badge-light badge-pill">
			<span class="badge-item badge-item-expand">130</span>
		</span>
	</div>
	<span class="badge badge-dark badge-pill">
		<span class="badge-item badge-item-expand">130</span>
	</span>
</div>

<div>
	<span class="badge badge-pill badge-primary">
		<span class="badge-item badge-item-expand">Primary</span>
	</span>
	<span class="badge badge-pill badge-secondary">
		<span class="badge-item badge-item-expand">Secondary</span>
	</span>
	<span class="badge badge-pill badge-success">
		<span class="badge-item badge-item-expand">Success</span>
	</span>
	<span class="badge badge-info badge-pill">
		<span class="badge-item badge-item-expand">Info</span>
	</span>
	<span class="badge badge-pill badge-warning">
		<span class="badge-item badge-item-expand">Warning</span>
	</span>
	<span class="badge badge-danger badge-pill">
		<span class="badge-item badge-item-expand">Danger</span>
	</span>
	<div class="cp-example-light-container">
		<span class="badge badge-light badge-pill">
			<span class="badge-item badge-item-expand">Light</span>
		</span>
	</div>
	<span class="badge badge-dark badge-pill">
		<span class="badge-item badge-item-expand">Dark</span>
	</span>
</div>

<h3>Badge with Links Inside</h3>
<div>
	<span class="badge badge-primary">
		<span class="badge-item badge-item-before">
			<a href="#1">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times-circle">
					<use xlink:href="../../images/icons/icons.svg#times-circle"></use>
				</svg>
			</a>
		</span>
		<span class="badge-item badge-item-before">
			<button class="btn btn-unstyled" type="button">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-picture">
					<use xlink:href="../../images/icons/icons.svg#picture"></use>
				</svg>
			</button>
		</span>
		<span class="badge-item badge-item-expand">
			<a href="#1">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAre</a>
		</span>
		<span class="badge-item badge-item-after">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-camera">
				<use xlink:href="../../images/icons/icons.svg#camera"></use>
			</svg>
		</span>
		<span class="badge-item badge-item-after">
			<button aria-label="Close" class="close" type="button">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times">
					<use xlink:href="../../images/icons/icons.svg#times"></use>
				</svg>
			</button>
		</span>
	</span>
</div>

<h3>Badge with Text Truncate</h3>
<div>
	<span class="badge badge-success">
		<span class="badge-item badge-item-before">
			<a href="#1">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times-circle">
					<use xlink:href="../../images/icons/icons.svg#times-circle"></use>
				</svg>
			</a>
		</span>
		<span class="badge-item badge-item-before">
			<button class="btn btn-unstyled" type="button">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-picture">
					<use xlink:href="../../images/icons/icons.svg#picture"></use>
				</svg>
			</button>
		</span>
		<span class="badge-item badge-item-expand">
			<a class="text-truncate-inline" href="#1">
				<span class="text-truncate">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAre</span>
			</a>
		</span>
		<span class="badge-item badge-item-after">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-camera">
				<use xlink:href="../../images/icons/icons.svg#camera"></use>
			</svg>
		</span>
		<span class="badge-item badge-item-after">
			<button aria-label="Close" class="close" type="button">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times">
					<use xlink:href="../../images/icons/icons.svg#times"></use>
				</svg>
			</button>
		</span>
	</span>
</div>

<div class="autofit-row cp-page-navigation cp-page-navigation-bottom">
	<div class="autofit-col autofit-col-expand">
		<a href="/label">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow-up" id="cpOrderArrowLeft">
				<use xlink:href="../../images/icons/icons.svg#order-arrow-up" />
			</svg>
			Label
		</a>
	</div>
	<div class="autofit-col">
		<a href="/sticker">
			Sticker
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow-up" id="cpOrderArrowRight">
				<use xlink:href="../../images/icons/icons.svg#order-arrow-up" />
			</svg>
		</a>
	</div>
</div>