<h3>Blockquote</h3>
<div class="row">
	<div class="col-md-6">
		<h6>blockquote</h6>
		<blockquote>
			<p>Milk filter lungo as galão roast that crema blue mountain shop turkish.</p>
			<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
		</blockquote>
	</div>
	<div class="col-md-6">
		<h6>blockquote-default</h6>
		<blockquote class="blockquote-default">
			<p>Milk filter lungo as galão roast that crema blue mountain shop turkish.</p>
			<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
		</blockquote>
	</div>
	<div class="col-md-6">
		<h6>blockquote-primary</h6>
		<blockquote class="blockquote-primary">
			<p>Milk filter lungo as galão roast that crema blue mountain shop turkish.</p>
			<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
		</blockquote>
	</div>
	<div class="col-md-6">
		<h6>blockquote-success</h6>
		<blockquote class="blockquote-success">
			<p>Milk filter lungo as galão roast that crema blue mountain shop turkish.</p>
			<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
		</blockquote>
	</div>
	<div class="col-md-6">
		<h6>blockquote-info</h6>
		<blockquote class="blockquote-info">
			<p>Milk filter lungo as galão roast that crema blue mountain shop turkish.</p>
			<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
		</blockquote>
	</div>
	<div class="col-md-6">
		<h6>blockquote-warning</h6>
		<blockquote class="blockquote-warning">
			<p>Milk filter lungo as galão roast that crema blue mountain shop turkish.</p>
			<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
		</blockquote>
	</div>
	<div class="col-md-6">
		<h6>blockquote-danger</h6>
		<blockquote class="blockquote-danger">
			<p>Milk filter lungo as galão roast that crema blue mountain shop turkish.</p>
			<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
		</blockquote>
	</div>
</div>

<h3>Blockquote Sizes</h3>
<h6>blockquote-xs</h6>
<blockquote class="blockquote-primary blockquote-xs">
	<p>Milk filter lungo as galão roast that crema blue mountain shop turkish.</p>
	<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
</blockquote>

<h6>blockquote-sm</h6>
<blockquote class="blockquote-primary blockquote-sm">
	<p>Milk filter lungo as galão roast that crema blue mountain shop turkish.</p>
	<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
</blockquote>

<h6>normal</h6>
<blockquote class="blockquote-primary">
	<p>Milk filter lungo as galão roast that crema blue mountain shop turkish.</p>
	<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
</blockquote>

<h6>blockquote-lg</h6>
<blockquote class="blockquote-lg blockquote-primary">
	<p>Milk filter lungo as galão roast that crema blue mountain shop turkish.</p>
	<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
</blockquote>