<h3>Breadcrumb</h3>
<ul class="breadcrumb">
	<li>
		<a href="#1" title="Home">Home</a>
	</li>
	<li>
		<a href="#1" title="Components">Components</a>
	</li>
	<li>
		<a href="#1" title="Breadcrumbs and Paginations">Breadcrumbs and Paginations</a>
	</li>
	<li>
		<a href="#1" title="Page">Page</a>
	</li>
	<li>
		<a href="#1" title="ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual</a>
	</li>
	<li class="active">
		<span title="Active">Active</span>
	</li>
</ul>

<h3>Horizontal Breadcrumb</h3>
<ul class="breadcrumb breadcrumb-horizontal">
	<li>
		<a href="#1" title="Home">Home</a>
	</li>
	<li>
		<a href="#1" title="Components">Components</a>
	</li>
	<li>
		<a href="#1" title="Breadcrumbs and Paginations">Breadcrumbs and Paginations</a>
	</li>
	<li>
		<a href="#1" title="Page">Page</a>
	</li>
	<li>
		<a href="#1" title="ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual</a>
	</li>
	<li class="active">
		<span title="Active">Active</span>
	</li>
</ul>

<h3>Vertical Breadcrumb</h3>
<ul class="breadcrumb breadcrumb-vertical">
	<li>
		<a href="#" title="Home">Home</a>
	</li>
	<li>
		<a href="#" title="Components">Components</a>
	</li>
	<li>
		<a href="#" title="Breadcrumbs and Paginations">Breadcrumbs and Paginations</a>
	</li>
	<li>
		<a href="#" title="Page">Page</a>
	</li>
	<li>
		<a href="#1" title="ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual</a>
	</li>
	<li class="active">
		<span>Active</span>
	</li>
</ul>