<h1>Card</h1>

<div class="row">
	<div class="col-md-6">
		<div class="card" style="width: 300px;">
			<div class="crop-img crop-img-bottom crop-img-center" style="height: 150px;">
				<img alt="thumbnail" src="images/thumbnail_hot_air_ballon.jpg">
			</div>
			<div class="card-block" style="text-align: center;">
				<h3 style="margin:0;">Joe Bloggs
				</h3><h5 class="text-default" style="margin-top:0;">Administrator</h5>
				<p>ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual</p>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="checkbox checkbox-card checkbox-top-left" style="max-width:300px;">
			<label>
				<input type="checkbox">
				<div class="card">
					<div class="aspect-ratio">
						<img alt="thumbnail" src="../../images/thumbnail_coffee.jpg">
						<span class="sticker sticker-bottom sticker-warning">PNG</span>
					</div>
					<div class="card-row card-row-padded card-row-valign-top">
						<div class="card-col-content">
							<span class="truncate-text">Aldcott Gage George Polwarth-Kitchener</span>
							<span class="truncate-text" title="thumbnail_dock.jpg">thumbnail_dock.jpg</span>
							<span class="truncate-text">Approved</span>
						</div>

						<div class="card-col-field">
							<div class="dropdown" style="margin-right: -8px;">
								<a class="dropdown-toggle icon-monospaced" data-toggle="dropdown" href="#1">
									<svg aria-hidden="true" class="lexicon-icon" viewBox="0 0 512 512">
										<path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
										<path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
										<path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
									</svg>
								</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="#1">Download</a></li>
									<li><a href="#1">Edit</a></li>
									<li><a href="#1">Move</a></li>
									<li><a href="#1">Checkout</a></li>
									<li><a href="#1">Permissions</a></li>
									<li><a href="#1">Move to Recycle Bin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</label>
		</div>
	</div>
</div>

<h1>Horizontal Card</h1>

<div class="row">
	<div class="col-md-6">
		<div class="card card-horizontal">
			<div class="card-row card-row-padded">
				<div class="card-col-field">
					<span class="sticker sticker-default sticker-static sticker-lg">
						<svg class="lexicon-icon lexicon-icon-folder" viewBox="0 0 512 512">
							<path class="lexicon-icon-body" fill="none" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z"></path>
							<path class="lexicon-icon-outline" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z M64,67c0,0,0.3-2.4,0.7-3h178.1c5.6,5.9,14.4,31.8,19.8,43.4c3.1,6.7,6.3,13.7,9.9,20.6H64L64,67L64,67z M448,448H64l0-256h384V448z"></path>
						</svg>
					</span>
				</div>
				<div class="card-col-content card-col-gutters">
					<h4 class="truncate-text" title="ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual</h4>
				</div>
				<div class="card-col-field">
					<div class="dropdown">
						<a class="dropdown-toggle icon-monospaced" data-toggle="dropdown" href="#1" aria-expanded="false">
							<svg aria-hidden="true" class="lexicon-icon" viewBox="0 0 512 512">
								<path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
								<path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
								<path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
							</svg>
						</a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#1">Download</a></li>
							<li><a href="#1">Edit</a></li>
							<li><a href="#1">Move</a></li>
							<li><a href="#1">Checkout</a></li>
							<li><a href="#1">Permissions</a></li>
							<li><a href="#1">Move to Recycle Bin</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card card-horizontal">
			<div class="card-row card-row-padded">
				<div class="card-col-field">
					<span class="sticker sticker-default sticker-static sticker-lg">
						<svg class="lexicon-icon lexicon-icon-folder" viewBox="0 0 512 512">
							<path class="lexicon-icon-body" fill="none" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z"></path>
							<path class="lexicon-icon-outline" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z M64,67c0,0,0.3-2.4,0.7-3h178.1c5.6,5.9,14.4,31.8,19.8,43.4c3.1,6.7,6.3,13.7,9.9,20.6H64L64,67L64,67z M448,448H64l0-256h384V448z"></path>
						</svg>
					</span>
				</div>
				<div class="card-col-content card-col-gutters">
					<span>This text will fill the remaining space.</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card card-horizontal">
			<div class="card-row">
				<div class="card-col-field" style="text-align:center;background:#EEE;">
					card-col-field
				</div>
				<div class="card-col-field card-col-gutters">
					<h4>Title</h4>
					<div class="divider"></div>
					<p>card-col-field</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="checkbox checkbox-card checkbox-middle-left">
			<label>
				<input type="checkbox" value="">
			</label>
			<div class="card card-horizontal">
				<div class="card-row card-row-padded">
					<div class="card-col-field">
						<span class="sticker sticker-default sticker-static sticker-lg">
							<svg class="lexicon-icon lexicon-icon-folder" viewBox="0 0 512 512">
								<path class="lexicon-icon-body" fill="none" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z"></path>
								<path class="lexicon-icon-outline" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z M64,67c0,0,0.3-2.4,0.7-3h178.1c5.6,5.9,14.4,31.8,19.8,43.4c3.1,6.7,6.3,13.7,9.9,20.6H64L64,67L64,67z M448,448H64l0-256h384V448z"></path>
							</svg>
						</span>
					</div>
					<div class="card-col-content card-col-gutters">
						<span class="truncate-text" title="ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual</span>
					</div>
					<div class="card-col-field">
						<div class="dropdown">
							<a class="dropdown-toggle icon-monospaced" data-toggle="dropdown" href="#1">
								<svg aria-hidden="true" class="lexicon-icon" viewBox="0 0 512 512">
									<path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
									<path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
									<path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
								</svg>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#1">Download</a></li>
								<li><a href="#1">Edit</a></li>
								<li><a href="#1">Move</a></li>
								<li><a href="#1">Checkout</a></li>
								<li><a href="#1">Permissions</a></li>
								<li><a href="#1">Move to Recycle Bin</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>