<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Clay 2 Paver</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/home.css" type="text/css" />
</head>
<body class="cp-changelog">
	<section id="main">
		<a class="cp-github-logo" href="https://github.com/pat270/clay-paver" rel="noopener noreferrer" target="_blank">
			<img class="cp-img-fluid" src="/images/GitHub-Mark-Light-64px.png">
		</a>
		<div class="cp-changelog-container">
			<h1 class="site-title">Clay CSS Changelog</h1>
			<ul class="cp-changelog-list">
				<li class="cp-changelog-list-title">2.4.1</li>
				<li>Fixes #1298 (ClayCSS) Added new SVG Icons document-code, document-compressed, document-default, document-image, document-multimedia, document-presentation, document-table, document-text, and document-vector</li>
				<li>Fixes #1260 - Mark should use `$mark-bg` and added option to configure `$mark-color`</li>
				<li>#1241 - Table added support for `.table-cell-start` and `.table-cell-end`</li>
				<li>Fixes #1240 - Dropdown Menu added `.dropdown-item-indicator-start` and `.dropdown-item-indicator-end` for placing icons on either side of a dropdown-item and deprecated `.dropdown-item-indicator`</li>
				<li>Fixes #1241 - Table List added `.table-row-start`, `.table-row-end`, `.table-cell-start`, `.table-cell-end` to style cells that are on the edges of the table</li>
				<li>Fixes #1236 - Added icon Anonymize</li>
				<li>Fixes #1192 - Nav Underline highlight color should be primary and height 2px</li>
				<li>Fixes #1220 - Use `$input-border-width` the same way Bootstrap uses it</li>
				<li>Fixes #1164 - Type added options to configure `$moz-osx-font-smoothing`, `$webkit-font-smoothing`, `$body-moz-osx-font-smoothing`, `$body-webkit-font-smoothing` and use browser default font smoothing in Base theme</li>
				<li>Fixes #1198 - Mixin `clay-menubar-vertical-variant` added options to configure `link-bg`, `link-hover-bg`, `link-active-bg`, `link-disabled-bg`, `link-border-radius`, `link-border-radius-mobile`.</li>
			</ul>
		</div>
	</section>
</body>
</html>