<h3>Figure</h3>
<div class="row">
	<div class="col-md-4">
		<h6>figcaption</h6>
		<div class="figure" style="max-width: 300px;">
			<img alt="picture of a coffee mug" class="img-responsive" src="../../images/thumbnail_coffee.jpg">
			<div class="figcaption">
				Carajillo strong, grounds redeye half and half so percolator.
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<h6>figcaption-bottom</h6>
		<div class="figure" style="max-width: 300px;">
			<img alt="picture of a dock by water" class="img-responsive" src="../../images/thumbnail_dock.jpg">
			<div class="figcaption figcaption-bottom">
				Carajillo strong, grounds redeye half and half so percolator.
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<h6>figcaption-top</h6>
		<div class="figure" style="max-width: 300px;">
			<img alt="picture of a coffee mug" class="img-responsive" src="../../images/thumbnail_coffee.jpg">
			<div class="figcaption figcaption-top">
				Carajillo strong, grounds redeye half and half so percolator.
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h6>figcaption-middle</h6>
		<div class="figure" style="max-width: 300px;">
			<img alt="picture of a dock by water" class="img-responsive" src="../../images/thumbnail_dock.jpg">
			<div class="figcaption figcaption-middle">
				Carajillo strong, grounds redeye half and half so percolator.
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<h6>figcaption-full</h6>
		<div class="figure">
			<img alt="picture of a coffee mug" class="img-responsive" src="../../images/thumbnail_coffee.jpg">
			<div class="figcaption figcaption-full" style="max-width:300px;">
				<div class="figcaption-middle">
					Carajillo strong, grounds redeye half and half so percolator.
				</div>
			</div>
		</div>
	</div>
</div>

<h3>Figcaption Variants</h3>
<div class="row">
	<div class="col-md-3">
		<h6>figcaption-primary</h6>
		<div class="figure">
			<img alt="picture of a coffee mug" class="img-responsive" src="../../images/thumbnail_coffee.jpg">
			<div class="figcaption figcaption-bottom figcaption-primary">
				Carajillo strong, grounds redeye half and half so percolator.
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<h6>figcaption-info</h6>
		<div class="figure">
			<img alt="picture of a coffee mug" class="img-responsive" src="../../images/thumbnail_coffee.jpg">
			<div class="figcaption figcaption-bottom figcaption-info">
				Carajillo strong, grounds redeye half and half so percolator.
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<h6>figcaption-success</h6>
		<div class="figure">
			<img alt="picture of a coffee mug" class="img-responsive" src="../../images/thumbnail_coffee.jpg">
			<div class="figcaption figcaption-bottom figcaption-success">
				Carajillo strong, grounds redeye half and half so percolator.
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<h6>figcaption-warning</h6>
		<div class="figure">
			<img alt="picture of a coffee mug" class="img-responsive" src="../../images/thumbnail_coffee.jpg">
			<div class="figcaption figcaption-bottom figcaption-warning">
				Carajillo strong, grounds redeye half and half so percolator.
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<h6>figcaption-danger</h6>
		<div class="figure">
			<img alt="picture of a coffee mug" class="img-responsive" src="../../images/thumbnail_coffee.jpg">
			<div class="figcaption figcaption-bottom figcaption-danger">
				Carajillo strong, grounds redeye half and half so percolator.
			</div>
		</div>
	</div>
</div>