<h1>Clay Paver</h1>
<p>Welcome to Clay Paver, a web based tool to customize LexiconCSS through Sass variables.</p>

<div class="row">
	<div class="col-sm-6">
		<h3 id="cpGrayColorPalette">Gray Color Palette</h3>
		<div class="cp-gray-base cp-swatch"></div>
		<div class="cp-gray-darker cp-swatch"></div>
		<div class="cp-gray-dark cp-swatch"></div>
		<div class="cp-gray cp-swatch"></div>
		<div class="cp-gray-light cp-swatch"></div>
		<div class="cp-gray-lighter cp-swatch"></div>
	</div>
	<div class="col-sm-6">
		<h3 id="cpBrandColorPalette">Brand Color Palette</h3>
		<div class="cp-brand-default cp-swatch"></div>
		<div class="cp-brand-primary cp-swatch"></div>
		<div class="cp-brand-success cp-swatch"></div>
		<div class="cp-brand-info cp-swatch"></div>
		<div class="cp-brand-warning cp-swatch"></div>
		<div class="cp-brand-danger cp-swatch"></div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<h3 id="cpSomeBodyText">Some Body Text</h3>

		As cinnamon extra acerbic to go cinnamon froth variety. Viennese cinnamon carajillo froth, cup brewed seasonal, cup siphon to go espresso single shot. Whipped aroma redeye in, <a href="#1">brewed flavour grinder carajillo black</a>. Ristretto, qui mug, skinny wings caramelization aroma a spoon et beans french press. At cup redeye, turkish wings sit extra trifecta mocha that black half and half.

		Viennese coffee to go french press single origin brewed kopi-luwak. Aroma blue mountain, irish mocha caramelization foam ristretto. Plunger pot cup est, milk arabica french press, ut, beans aromatic aroma white shop. Beans, et that half and half galão coffee fair trade filter extraction. Roast bar siphon bar est macchiato aromatic grinder.
	</div>
</div>

<div class="row" id="cpTypography">
	<div class="col-sm-12">
		<h3>Sans-serif</h3>
		<h1>Sit acerbic sugar caffeine, steamed aromatic decaffeinated instant filter.</h1>
		<p><span style="font-style:italic;">Flavour and cup</span> as mocha espresso steamed percolator plunger pot id sweet. Caramelization ut single origin, dripper so est cultivar in bar robust mazagran froth. Steamed robusta doppio blue mountain bar dark turkish cinnamon plunger pot. Chicory cream coffee sit, froth beans cappuccino cup aftertaste.</p>

		<h3>Serif</h3>
		<h1 class="serif">Sit acerbic sugar caffeine, steamed aromatic decaffeinated instant filter.</h1>
		<p class="serif"><span class="serif" style="font-style:italic;">Flavour and cup</span> as mocha espresso steamed percolator plunger pot id sweet. Caramelization ut single origin, dripper so est cultivar in bar robust mazagran froth. Steamed robusta doppio blue mountain bar dark turkish cinnamon plunger pot. Chicory cream coffee sit, froth beans cappuccino cup aftertaste.</p>

		<h3>Monospace</h3>
		<h1 class="monospace">Sit acerbic sugar caffeine, steamed aromatic decaffeinated instant filter.</h1>
		<p class="monospace"><span class="monospace" style="font-style:italic;">Flavour and cup</span> as mocha espresso steamed percolator plunger pot id sweet. Caramelization ut single origin, dripper so est cultivar in bar robust mazagran froth. Steamed robusta doppio blue mountain bar dark turkish cinnamon plunger pot. Chicory cream coffee sit, froth beans cappuccino cup aftertaste.</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<h3 id="cpHeadings">Headings</h3>
		<h1 id="cpH1">h1 Article Heading <small>Sub text</small></h1>
		<h2 id="cpH2">h2 Article Heading <small>Sub text</small></h2>
		<h3 id="cpH3">h3 Article Heading <small>Sub text</small></h3>
		<h4 id="cpH4">h4 Article Heading <small>Sub text</small></h4>
		<h5 id="cpH5">h5 Article Heading <small>Sub text</small></h5>
		<h6 id="cpH6">h6 Article Heading <small>Sub text</small></h6>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<h3 id="cpTextVariants">Text Variants</h3>
		<div class="text-default">Text Default</div>
		<div class="text-primary">Text Primary</div>
		<div class="text-success">Text Success</div>
		<div class="text-info">Text Info</div>
		<div class="text-warning">Text Warning</div>
		<div class="text-danger">Text Danger</div>
		<div class="text-muted">Text Muted</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<h3 id="cpCaret">Caret</h3>

		<span class="caret"></span>

		<h3>Caret Lg</h3>

		<button class="btn btn-default btn-lg" type="button"><span class="caret"></span></button>
	</div>
</div>