<h1 class="cp-header">Import Variables to: <span class="current-theme-name"></span></h1>
<form id="importSassVariables">
	<div class="cp-form-group">
		<textarea class="cp-form-control"></textarea>
	</div>
	<button class="cp-btn cp-btn-primary" type="submit">Import</button>
</form>