<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Clay 2 Paver</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/home.css" type="text/css" />
</head>
<body>
	<section id="main">
		<a class="cp-github-logo" href="https://github.com/pat270/clay-paver" rel="noopener noreferrer" target="_blank">
			<img class="cp-img-fluid" src="/images/GitHub-Mark-Light-64px.png">
		</a>
		<h1 class="site-title">Clay Paver</h1>
		<div class="site-navigation">
			<div class="current-version">
				<a class="cp-btn cp-btn-primary" href="/<%- clayLatestVersion %>/">
					Latest (<%- clayLatestVersion %>)
				</a>
			</div>
			<% if (clayAvailableVersions.length !== 0) { %>
				<div class="version-divider">or</div>

				<div class="older-versions">
					<% for(var i = 0; i < clayAvailableVersions.length; i++) { %>
						<a class="cp-btn cp-btn-primary" href="/<%- clayAvailableVersions[i] %>/"><%- clayAvailableVersions[i] %></a>
					<% } %>
					<a class="cp-btn cp-btn-primary" href="/changelog/" rel="noopener noreferrer" target="_blank">Changelog</a>
				</div>
			<% } %>
		</div>
	</section>
</body>
</html>