<div class="form-group">
	<label class="disabled">
		Text
		<span class="reference-mark text-warning">
			<svg class="lexicon-icon" viewBox="0 0 512 512">
				<path class="lexicon-icon-outline" d="M323.6,190l146.7-48.8L512,263.9l-149.2,47.6l93.6,125.2l-104.9,76.3l-96.1-126.4l-93.6,126.4L56.9,435.3l92.3-123.9L0,263.8l40.4-122.6L188.4,190v-159h135.3L323.6,190L323.6,190z"></path>
			</svg>
		</span>
	</label>
	<input class="form-control" disabled placeholder="Placeholder" type="text">
</div>

<div class="form-group">
	<label class="disabled">Email</label>
	<input class="form-control" disabled type="email" value="sales@liferay.com">
</div>

<div class="form-group">
	<label class="disabled">Password</label>
	<input class="form-control" disabled placeholder="Enter password" type="password">
</div>

<div class="form-group">
	<label class="disabled">Textarea</label>
	<textarea class="form-control" disabled placeholder="Placeholder"></textarea>
</div>

<div class="form-group">
	<label class="disabled">Search</label>
	<input class="form-control" disabled placeholder="How do I shoot web" type="search">
</div>

<div class="form-group">
	<label class="disabled">Url</label>
	<input class="form-control" disabled type="url" value="https://www.liferay.com">
</div>

<div class="form-group">
	<label class="disabled">Tel</label>
	<input class="form-control" disabled type="tel" value="+1-877-LIFERAY">
</div>

<div class="form-group">
	<label class="disabled">Number</label>
	<input class="form-control" disabled type="number" value="41">
</div>

<div class="form-group">
	<label class="disabled">Date and Time</label>
	<input class="form-control" disabled type="datetime-local" value="2017-06-26T17:55:00">
</div>

<div class="form-group">
	<label class="disabled">Date</label>
	<input class="form-control" disabled type="date" value="2017-06-26">
</div>

<div class="form-group">
	<label class="disabled">Month</label>
	<input class="form-control" disabled type="month" value="2017-06">
</div>

<div class="form-group">
	<label class="disabled">Week</label>
	<input class="form-control" disabled type="week" value="2017-W20">
</div>

<div class="form-group">
	<label class="disabled">Time</label>
	<input class="form-control" disabled type="time" value="17:55:00">
</div>

<div class="form-group">
	<label class="disabled">Color</label>
	<input class="form-control" disabled type="color" value="#869CAD">
</div>

<div class="form-group">
	<label class="disabled">Select Element</label>
	<select class="form-control" disabled>
		<option>Sample 1</option>
		<option>Sample 2</option>
		<option>Sample 3</option>
		<option>Sample 4</option>
	</select>
</div>

<div class="form-group">
	<label class="disabled">Select Element with Multiple Select Options</label>
	<select class="form-control" disabled multiple>
		<option>Sample 1</option>
		<option>Sample 2</option>
		<option>Sample 3</option>
		<option>Sample 4</option>
		<option>Sample 5</option>
		<option>Sample 6</option>
		<option>Sample 7</option>
		<option>Sample 8</option>
	</select>
</div>

<h3>File Upload</h3>
<div class="form-group">
	<label class="sr-only">FILE UPLOAD</label>

	<input disabled id="inputFile" type="file">
</div>

<h3>Checkbox</h3>
<div class="checkbox disabled">
	<label class="disabled">
		<input checked disabled type="checkbox" value="">
		Disabled Check Box
	</label>
</div>

<h3>Radio</h3>
<div class="disabled radio">
	<label class="disabled">
		<input disabled type="radio">
		Disabled Radio Button
	</label>
</div>

<h3>Fieldset</h3>
<fieldset disabled>
	<div class="form-group">
		<label>Use fieldset to group related elements in a form and ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual
			<input class="form-control" type="text" value="Plunger pot, extra siphon latte">
		</label>
	</div>
	<div class="form-group">
		<label for="disabledTextInput">Disabled input</label>
		<input class="form-control" id="disabledTextInput" type="text" value="Plunger pot, extra siphon latte">
	</div>

	<div class="form-group">
		<label for="disabledSelect">Disabled select menu</label>
		<select class="form-control" id="disabledSelect">
			<option>Sample 1</option>
			<option>Sample 2</option>
			<option>Sample 3</option>
			<option>Sample 4</option>
		</select>
	</div>

	<div class="checkbox">
		<label>
			<input checked type="checkbox" value="">
			<span class="skin"></span>
			Disabled Checkbox
		</label>
	</div>

	<div class="radio">
		<label>
			<input type="radio" value="">
			<span class="skin"></span>
			Disabled Radio
		</label>
	</div>

	<button class="btn btn-primary" type="submit">Submit</button>
</fieldset>