<div>
	<h3>Input Sizes</h3>
	<div class="form-group">
		<label>Small text input</label>
		<input class="form-control input-sm" placeholder="Placeholder" type="text">
	</div>

	<div class="form-group">
		<label>Default text input</label>
		<input class="form-control" placeholder="Placeholder" type="text">
	</div>

	<div class="form-group">
		<label>Large text input</label>
		<input class="form-control input-lg" placeholder="Placeholder" type="text">
	</div>
</div>

<div>
	<h3>Input Group Sizes</h3>
	<div class="form-group">
		<div class="input-group input-group-sm">
			<span class="input-group-addon">$</span>
			<input aria-label="Amount" class="form-control" type="text">
			<span class="input-group-addon">.00</span>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon">$</span>
			<input aria-label="Amount" class="form-control" type="text">
			<span class="input-group-addon">.00</span>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group input-group-lg">
			<span class="input-group-addon">$</span>
			<input aria-label="Amount" class="form-control" type="text">
			<span class="input-group-addon">.00</span>
		</div>
	</div>
</div>

<div>
	<h3>Input Group Btn Sizes</h3>

	<div class="form-group">
		<div class="input-group input-group-sm">
			<div class="input-group-btn">
				<button class="btn btn-default" type="button">Action</button>
				<button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider" role="separator"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</div>
			<input aria-label="Text input with segmented button dropdown" class="form-control" type="text">
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<input aria-label="Text input with segmented button dropdown" class="form-control" type="text">
			<div class="input-group-btn">
				<button class="btn btn-default" type="button">Action</button>
				<button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider" role="separator"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group input-group-lg">
			<input aria-label="Text input with segmented button dropdown" class="form-control" type="text">
			<div class="input-group-btn">
				<button class="btn btn-default" type="button">Action</button>
				<button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider" role="separator"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div>
	<h3>Input Group Addon Constrain Sizes</h3>

	<div class="form-group">
		<div class="input-group input-group-sm">
			<span class="input-group-addon" id="inputGroupConstrain01">
				<span class="input-group-constrain">https://web.liferay.com/community/forums/-/message_boards/category/72632049</span>
			</span>
			<input aria-describedby="inputGroupConstrain01" class="form-control" placeholder="Change Default URL" type="text">
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon" id="inputGroupConstrain01">
				<span class="input-group-constrain">https://web.liferay.com/community/forums/-/message_boards/category/72632049</span>
			</span>
			<input aria-describedby="inputGroupConstrain01" class="form-control" placeholder="Change Default URL" type="text">
		</div>
	</div>

	<div class="form-group">
		<div class="input-group input-group-lg">
			<span class="input-group-addon" id="inputGroupConstrain01">
				<span class="input-group-constrain">https://web.liferay.com/community/forums/-/message_boards/category/72632049</span>
			</span>
			<input aria-describedby="inputGroupConstrain01" class="form-control" placeholder="Change Default URL" type="text">
		</div>
	</div>
</div>

<div>
	<h3>Input Group Insert Sizes</h3>

	<div class="form-group">
		<div class="input-group input-group-sm">
			<input class="form-control" placeholder="Mailbox Name" type="text">
			<span class="input-group-addon input-group-insert">@</span>
			<input class="form-control" placeholder="Domain" type="text">
			<span class="input-group-addon input-group-insert">.com</span>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Submit</button>
			</span>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<input class="form-control" placeholder="Mailbox Name" type="text">
			<span class="input-group-addon input-group-insert">@</span>
			<input class="form-control" placeholder="Domain" type="text">
			<span class="input-group-addon input-group-insert">.com</span>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Submit</button>
			</span>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group input-group-lg">
			<input class="form-control" placeholder="Mailbox Name" type="text">
			<span class="input-group-addon input-group-insert">@</span>
			<input class="form-control" placeholder="Domain" type="text">
			<span class="input-group-addon input-group-insert">.com</span>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Submit</button>
			</span>
		</div>
	</div>
</div>

<div>
	<h3>Input Group Default Sizes</h3>
	<div class="form-group">
		<label for="defaultLogoutPage">
			Label Input Group Sm
			<span class="reference-mark text-warning">
				<svg class="lexicon-icon" viewBox="0 0 512 512">
					<path class="lexicon-icon-outline" d="M323.6,190l146.7-48.8L512,263.9l-149.2,47.6l93.6,125.2l-104.9,76.3l-96.1-126.4l-93.6,126.4L56.9,435.3l92.3-123.9L0,263.8l40.4-122.6L188.4,190v-159h135.3L323.6,190L323.6,190z"></path>
				</svg>
			</span>
		</label>
		<div class="input-group-default input-group-sm">
			<span class="input-group-addon">$</span>
			<input aria-label="Amount" class="form-control" id="defaultLogoutPage" placeholder="Some placeholder text..." type="text">
			<span class="input-group-addon">
				<span class="input-group-addon-content">
					<a class="help-icon help-icon-default icon-monospaced icon-question" data-toggle="popover" href="#1"></a>
				</span>
			</span>
		</div>
	</div>

	<div class="form-group">
		<label for="defaultLogoutPage">
			Label
			<span class="reference-mark text-warning">
				<svg class="lexicon-icon" viewBox="0 0 512 512">
					<path class="lexicon-icon-outline" d="M323.6,190l146.7-48.8L512,263.9l-149.2,47.6l93.6,125.2l-104.9,76.3l-96.1-126.4l-93.6,126.4L56.9,435.3l92.3-123.9L0,263.8l40.4-122.6L188.4,190v-159h135.3L323.6,190L323.6,190z"></path>
				</svg>
			</span>
		</label>
		<div class="input-group-default">
			<span class="input-group-addon">$</span>
			<input aria-label="Amount" class="form-control" id="defaultLogoutPage" placeholder="Some placeholder text..." type="text">
			<span class="input-group-addon">
				<span class="input-group-addon-content">
					<a class="help-icon help-icon-default icon-monospaced icon-question" data-toggle="popover" href="#1"></a>
				</span>
			</span>
		</div>
	</div>

	<div class="form-group">
		<label for="defaultLogoutPage">
			Label Input Group Lg
			<span class="reference-mark text-warning">
				<svg class="lexicon-icon" viewBox="0 0 512 512">
					<path class="lexicon-icon-outline" d="M323.6,190l146.7-48.8L512,263.9l-149.2,47.6l93.6,125.2l-104.9,76.3l-96.1-126.4l-93.6,126.4L56.9,435.3l92.3-123.9L0,263.8l40.4-122.6L188.4,190v-159h135.3L323.6,190L323.6,190z"></path>
				</svg>
			</span>
		</label>
		<div class="input-group-default input-group-lg">
			<span class="input-group-addon">$</span>
			<input aria-label="Amount" class="form-control" id="defaultLogoutPage" placeholder="Some placeholder text..." type="text">
			<span class="input-group-addon">
				<span class="input-group-addon-content">
					<a class="help-icon help-icon-default icon-monospaced icon-question" data-toggle="popover" href="#1"></a>
				</span>
			</span>
		</div>
	</div>
</div>