<h4 class="cp-variables-form-header">Input Disabled</h4>
<%- include('../partials/cpTextInput', { id: 'input-bg-disabled' }) %>
<%- include('../partials/cpTextInput', { id: 'input-border-disabled' }) %>
<%- include('../partials/cpTextInput', { id: 'input-color-disabled' }) %>
<%- include('../partials/cpTextInput', { id: 'input-opacity-disabled' }) %>