<div class="form-group">
	<label>
		Text
		<span class="reference-mark text-warning">
			<svg class="lexicon-icon" viewBox="0 0 512 512">
				<path class="lexicon-icon-outline" d="M323.6,190l146.7-48.8L512,263.9l-149.2,47.6l93.6,125.2l-104.9,76.3l-96.1-126.4l-93.6,126.4L56.9,435.3l92.3-123.9L0,263.8l40.4-122.6L188.4,190v-159h135.3L323.6,190L323.6,190z"></path>
			</svg>
		</span>
	</label>
	<input class="form-control" placeholder="Placeholder" type="text">
</div>

<div class="form-group">
	<label>Email</label>
	<input class="form-control" type="email" value="sales@liferay.com">
</div>

<div class="form-group">
	<label>Password</label>
	<input class="form-control" placeholder="Enter password" type="password">
</div>

<div class="form-group">
	<label>Textarea</label>
	<textarea class="form-control" placeholder="Placeholder"></textarea>
</div>

<div class="form-group">
	<label>Search</label>
	<input class="form-control" placeholder="How do I shoot web" type="search">
</div>

<div class="form-group">
	<label>Url</label>
	<input class="form-control" type="url" value="https://www.liferay.com">
</div>

<div class="form-group">
	<label>Tel</label>
	<input class="form-control" type="tel" value="+1-877-LIFERAY">
</div>

<div class="form-group">
	<label>Number</label>
	<input class="form-control" type="number" value="41">
</div>

<div class="form-group">
	<label>Date and Time</label>
	<input class="form-control" type="datetime-local" value="2017-06-26T17:55:00">
</div>

<div class="form-group">
	<label>Date</label>
	<input class="form-control" type="date" value="2017-06-26">
</div>

<div class="form-group">
	<label>Month</label>
	<input class="form-control" type="month" value="2017-06">
</div>

<div class="form-group">
	<label>Week</label>
	<input class="form-control" type="week" value="2017-W20">
</div>

<div class="form-group">
	<label>Time</label>
	<input class="form-control" type="time" value="17:55:00">
</div>

<div class="form-group">
	<label>Color</label>
	<input class="form-control" type="color" value="#869CAD">
</div>

<div class="form-group">
	<label>Select Element</label>
	<select class="form-control">
		<option>Sample 1</option>
		<option>Sample 2</option>
		<option>Sample 3</option>
		<option>Sample 4</option>
	</select>
</div>

<div class="form-group">
	<label>Select Element with Multiple Select Options</label>
	<select class="form-control" multiple>
		<option>Sample 1</option>
		<option>Sample 2</option>
		<option>Sample 3</option>
		<option>Sample 4</option>
		<option>Sample 5</option>
		<option>Sample 6</option>
		<option>Sample 7</option>
		<option>Sample 8</option>
	</select>
</div>

<h3>File Upload</h3>
<div class="form-group">
	<label class="sr-only">FILE UPLOAD</label>

	<input id="inputFile" type="file">
</div>

<h3>Checkbox</h3>
<div class="checkbox">
	<label>
		<input type="checkbox" value="">
	</label>
</div>
<div class="checkbox">
	<label>
		<input type="checkbox" value="">
		Label
	</label>
</div>
<div class="checkbox">
	<label class="disabled">
		<input checked disabled type="checkbox" value="">
		Disabled Check Box
	</label>
</div>

<div class="checkbox">
	<label class="checkbox-inline">
		<input id="inlineCheckbox1" type="checkbox" value="option1">
		1
	</label>
	<label class="checkbox-inline">
		<input id="inlineCheckbox2" type="checkbox" value="option2">
		2
	</label>
	<label class="checkbox-inline">
		<input id="inlineCheckbox3" type="checkbox" value="option3">
		3
	</label>
</div>

<h3>Radio</h3>
<div class="radio">
	<label>
		<input type="radio" value="">
	</label>
</div>

<div class="radio">
	<label>
		<input type="radio" value="">
		Label
	</label>
</div>

<div class="disabled radio">
	<label>
		<input disabled type="radio">
		Disabled Radio Button
	</label>
</div>

<div class="radio">
	<label class="radio-inline">
		<input id="inlineRadio1" name="inlineRadioOptions1" type="radio" value="option1"> 1
	</label>
	<label class="radio-inline">
		<input id="inlineRadio2" name="inlineRadioOptions1" type="radio" value="option2"> 2
	</label>
	<label class="radio-inline">
		<input id="inlineRadio3" name="inlineRadioOptions1" type="radio" value="option3"> 3
	</label>
</div>