<h4 class="cp-variables-form-header">Input Readonly</h4>
<%- include('../partials/cpTextInput', { id: 'input-readonly-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'input-readonly-border' }) %>
<%- include('../partials/cpTextInput', { id: 'input-readonly-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-readonly-cursor' }) %>