<div class="form-group">
	<label>
		Text
		<span class="reference-mark text-warning">
			<svg class="lexicon-icon" viewBox="0 0 512 512">
				<path class="lexicon-icon-outline" d="M323.6,190l146.7-48.8L512,263.9l-149.2,47.6l93.6,125.2l-104.9,76.3l-96.1-126.4l-93.6,126.4L56.9,435.3l92.3-123.9L0,263.8l40.4-122.6L188.4,190v-159h135.3L323.6,190L323.6,190z"></path>
			</svg>
		</span>
	</label>
	<input class="form-control" readonly placeholder="Placeholder" type="text">
</div>

<div class="form-group">
	<label>Email</label>
	<input class="form-control" readonly type="email" value="sales@liferay.com">
</div>

<div class="form-group">
	<label>Password</label>
	<input class="form-control" readonly placeholder="Enter password" type="password">
</div>

<div class="form-group">
	<label>Textarea</label>
	<textarea class="form-control" readonly placeholder="Placeholder"></textarea>
</div>

<div class="form-group">
	<label>Search</label>
	<input class="form-control" readonly placeholder="How do I shoot web" type="search">
</div>

<div class="form-group">
	<label>Url</label>
	<input class="form-control" readonly type="url" value="https://www.liferay.com">
</div>

<div class="form-group">
	<label>Tel</label>
	<input class="form-control" readonly type="tel" value="+1-877-LIFERAY">
</div>

<div class="form-group">
	<label>Number</label>
	<input class="form-control" readonly type="number" value="41">
</div>

<div class="form-group">
	<label>Date and Time</label>
	<input class="form-control" readonly type="datetime-local" value="2017-06-26T17:55:00">
</div>

<div class="form-group">
	<label>Date</label>
	<input class="form-control" readonly type="date" value="2017-06-26">
</div>

<div class="form-group">
	<label>Month</label>
	<input class="form-control" readonly type="month" value="2017-06">
</div>

<div class="form-group">
	<label>Week</label>
	<input class="form-control" readonly type="week" value="2017-W20">
</div>

<div class="form-group">
	<label>Time</label>
	<input class="form-control" readonly type="time" value="17:55:00">
</div>