<h3>Label</h3>
<div>
	<span class="label">Base</span>
	<span class="label label-default">Default</span>
	<span class="label label-primary">Primary</span>
	<span class="label label-success">Success</span>
	<span class="label label-info">Info</span>
	<span class="label label-warning">Warning</span>
	<span class="label label-danger">Danger</span>
</div>

<h3>Label Sm</h3>
<div>
	<span class="label label-sm">Base</span>
	<span class="label label-default label-sm">Default</span>
	<span class="label label-primary label-sm">Primary</span>
	<span class="label label-sm label-success">Success</span>
	<span class="label label-info label-sm">Info</span>
	<span class="label label-sm label-warning">Warning</span>
	<span class="label label-danger label-sm">Danger</span>
</div>

<h3>Label Lg</h3>
<div>
	<span class="label label-lg">Base</span>
	<span class="label label-default label-lg">Default</span>
	<span class="label label-lg label-primary">Primary</span>
	<span class="label label-lg label-success">Success</span>
	<span class="label label-info label-lg">Info</span>
	<span class="label label-lg label-warning">Warning</span>
	<span class="label label-danger label-lg">Danger</span>
</div>

<h3>Label as Links</h3>
<div>
	<a class="label" href="#1">Base</a>
	<a class="label label-default" href="#1">Default</a>
	<a class="label label-primary" href="#1">Primary</a>
	<a class="label label-success" href="#1">Success</a>
	<a class="label label-info" href="#1">Info</a>
	<a class="label label-warning" href="#1">Warning</a>
	<a class="label label-danger" href="#1">Danger</a>
</div>

<div>
	<span class="label"><a href="#1">Base</a></span>
	<span class="label label-default"><a href="#1">Default</a></span>
	<span class="label label-primary"><a href="#1">Primary</a></span>
	<span class="label label-success"><a href="#1">Success</a></span>
	<span class="label label-info"><a href="#1">Info</a></span>
	<span class="label label-warning"><a href="#1">Warning</a></span>
	<span class="label label-danger"><a href="#1">Danger</a></span>
</div>

<h3>Label with Lexicon Icon</h3>
<div>
	<span class="label label-default label-sm">
		Small Label
		<a href="#1">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
				<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
			</svg>
		</a>
	</span>
	<span class="label label-primary">
		Default Label
		<a href="#1">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
				<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
			</svg>
		</a>
	</span>
	<span class="label label-lg label-success">
		Large Label
		<a href="#1">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
				<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
			</svg>
		</a>
	</span>
</div>

<h3>Label with Glyphicon / Font Awesome</h3>
<div>
	<span class="label label-default label-sm">
		Small Label
		<a href="#1">
			<span class="icon-remove"></span>
		</a>
	</span>
	<span class="label label-primary">
		Default Label
		<a href="#1">
			<span class="glyphicon glyphicon-remove"></span>
		</a>
	</span>
	<span class="label label-lg label-success">
		Large Label
		<a href="#1">
			<span class="icon-remove"></span>
		</a>
	</span>
</div>