<h3>List Group</h3>
<ul class="list-group">
	<li class="list-group-heading">List Heading</li>
	<li class="list-group-item">List Item 1</li>
	<li class="list-group-item">List Item 2</li>
	<li class="list-group-item">List Item 3</li>
	<li class="list-group-item">List Item 4</li>
</ul>

<h3>Tabular List Group</h3>
<ul class="tabular-list-group">
	<li class="active list-group-item">
		<div class="list-group-item-field">
			<div class="checkbox">
				<label>
					<input checked type="checkbox">
				</label>
			</div>
		</div>

		<div class="list-group-item-field">
			<div class="sticker sticker-default sticker-lg sticker-static">
				<svg class="lexicon-icon lexicon-icon-folder" viewBox="0 0 512 512">
					<path class="lexicon-icon-body" fill="none" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z"></path>
					<path class="lexicon-icon-outline" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z M64,67c0,0,0.3-2.4,0.7-3h178.1c5.6,5.9,14.4,31.8,19.8,43.4c3.1,6.7,6.3,13.7,9.9,20.6H64L64,67L64,67z M448,448H64l0-256h384V448z"></path>
				</svg>
			</div>
		</div>

		<div class="list-group-item-content">
			<h6 class="truncate-text">Alberto Calvo, modified 2 hours ago.</h6>
			<h4 class="truncate-text"><a href="#1">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual</a></h4>
			<h6 class="truncate-text">Approved</h6>
		</div>

		<div class="list-group-item-field">
			<div class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#1">
					<svg class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
						<path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
					</svg>
				</a>
				<ul class="dropdown-menu dropdown-menu-left-side">
					<li class="dropdown-header">Dropdown Header</li>
					<li><a href="#">Action 1</a></li>
					<li><a href="#">Action 2</a></li>
					<li><a href="#">Action 3</a></li>
					<li><a href="#">Action 4</a></li>
					<li><a href="#">Action 5</a></li>
					<li><a href="#">Action 6</a></li>
					<li><a href="#">Action 7</a></li>
					<li><a href="#">Action 8</a></li>
				</ul>
			</div>
		</div>
	</li>

	<li class="list-group-item">
		<div class="list-group-item-field">
			<div class="checkbox">
				<label>
					<input type="checkbox">
				</label>
			</div>
		</div>

		<div class="list-group-item-field">
			<div class="sticker sticker-default sticker-lg sticker-static">
				<svg class="lexicon-icon lexicon-icon-folder" viewBox="0 0 512 512">
					<path class="lexicon-icon-body" fill="none" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z"></path>
					<path class="lexicon-icon-outline" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z M64,67c0,0,0.3-2.4,0.7-3h178.1c5.6,5.9,14.4,31.8,19.8,43.4c3.1,6.7,6.3,13.7,9.9,20.6H64L64,67L64,67z M448,448H64l0-256h384V448z"></path>
				</svg>
			</div>
		</div>

		<div class="list-group-item-content">
			<h5>Bookmarks</h5>
			<h4><a href="#1">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual.</a></h4>
			<h6>
				<span>5 Folders</span>
				<span>4 Entries</span>
			</h6>
		</div>

		<div class="list-group-item-field">
			<div class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#1">
					<svg class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
						<path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
					</svg>
				</a>
				<ul class="dropdown-menu dropdown-menu-left-side">
					<li class="dropdown-header">Dropdown Header</li>
					<li><a href="#">Action 1</a></li>
					<li><a href="#">Action 2</a></li>
					<li><a href="#">Action 3</a></li>
					<li><a href="#">Action 4</a></li>
					<li><a href="#">Action 5</a></li>
					<li><a href="#">Action 6</a></li>
					<li><a href="#">Action 7</a></li>
					<li><a href="#">Action 8</a></li>
				</ul>
			</div>
		</div>
	</li>
</ul>

<h3>Tabular List Group No Borders</h3>
<ul class="no-borders tabular-list-group">
	<li class="list-group-item">
		<div class="list-group-item-field">
			<div class="checkbox">
				<label>
					<input type="checkbox">
				</label>
			</div>
		</div>

		<div class="list-group-item-field">
			<div class="sticker sticker-default sticker-lg sticker-static">
				<svg class="lexicon-icon lexicon-icon-folder" viewBox="0 0 512 512">
					<path class="lexicon-icon-body" fill="none" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z"></path>
					<path class="lexicon-icon-outline" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z M64,67c0,0,0.3-2.4,0.7-3h178.1c5.6,5.9,14.4,31.8,19.8,43.4c3.1,6.7,6.3,13.7,9.9,20.6H64L64,67L64,67z M448,448H64l0-256h384V448z"></path>
				</svg>
			</div>
		</div>

		<div class="list-group-item-content">
			<h5>Larry Bird the best power forward in Celtic's history.</h5>
			<h6>Monica Bellucci</h6>
			<h6>
				<span>5 Folders</span>
				<span>4 Entries</span>
			</h6>
		</div>

		<div class="list-group-item-field">
			<div class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#1">
					<svg class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
						<path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
					</svg>
				</a>
				<ul class="dropdown-menu dropdown-menu-left-side">
					<li class="dropdown-header">Dropdown Header</li>
					<li><a href="#">Action 1</a></li>
					<li><a href="#">Action 2</a></li>
					<li><a href="#">Action 3</a></li>
					<li><a href="#">Action 4</a></li>
					<li><a href="#">Action 5</a></li>
					<li><a href="#">Action 6</a></li>
					<li><a href="#">Action 7</a></li>
					<li><a href="#">Action 8</a></li>
				</ul>
			</div>
		</div>
	</li>

	<li class="list-group-item active">
		<div class="active list-group-item-field">
			<div class="checkbox">
				<label>
					<input checked type="checkbox">
				</label>
			</div>
		</div>

		<div class="list-group-item-field">
			<div class="sticker sticker-default sticker-lg sticker-static">
				<svg class="lexicon-icon lexicon-icon-folder" viewBox="0 0 512 512">
					<path class="lexicon-icon-body" fill="none" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z"></path>
					<path class="lexicon-icon-outline" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z M64,67c0,0,0.3-2.4,0.7-3h178.1c5.6,5.9,14.4,31.8,19.8,43.4c3.1,6.7,6.3,13.7,9.9,20.6H64L64,67L64,67z M448,448H64l0-256h384V448z"></path>
				</svg>
			</div>
		</div>

		<div class="list-group-item-content">
			<h5>Karl Malone the best power forward in Jazz history.</h5>
			<h6>Monica Bellucci</h6>
			<h6>
				<span>5 Folders</span>
				<span>4 Entries</span>
			</h6>
		</div>

		<div class="list-group-item-field">
			<div class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#1">
					<svg class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
						<path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
					</svg>
				</a>
				<ul class="dropdown-menu dropdown-menu-left-side">
					<li class="dropdown-header">Dropdown Header</li>
					<li><a href="#">Action 1</a></li>
					<li><a href="#">Action 2</a></li>
					<li><a href="#">Action 3</a></li>
					<li><a href="#">Action 4</a></li>
					<li><a href="#">Action 5</a></li>
					<li><a href="#">Action 6</a></li>
					<li><a href="#">Action 7</a></li>
					<li><a href="#">Action 8</a></li>
				</ul>
			</div>
		</div>
	</li>
</ul>

<h3>Tabular List Group Full Borders</h3>
<ul class="full-borders tabular-list-group">
	<li class="active list-group-item">
		<div class="list-group-item-field">
			<div class="checkbox">
				<label>
					<input checked type="checkbox">
				</label>
			</div>
		</div>

		<div class="list-group-item-field">
			<div class="sticker sticker-default sticker-lg sticker-static">
				<svg class="lexicon-icon lexicon-icon-folder" viewBox="0 0 512 512">
					<path class="lexicon-icon-body" fill="none" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z"></path>
					<path class="lexicon-icon-outline" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z M64,67c0,0,0.3-2.4,0.7-3h178.1c5.6,5.9,14.4,31.8,19.8,43.4c3.1,6.7,6.3,13.7,9.9,20.6H64L64,67L64,67z M448,448H64l0-256h384V448z"></path>
				</svg>
			</div>
		</div>

		<div class="list-group-item-content">
			<h5>Larry Bird the best power forward in Celtic's history.</h5>
			<h6>Monica Bellucci</h6>
			<h6>
				<span>5 Folders</span>
				<span>4 Entries</span>
			</h6>
		</div>

		<div class="list-group-item-field">
			<div class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#1">
					<svg class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
						<path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
					</svg>
				</a>
				<ul class="dropdown-menu dropdown-menu-left-side">
					<li class="dropdown-header">Dropdown Header</li>
					<li><a href="#">Action 1</a></li>
					<li><a href="#">Action 2</a></li>
					<li><a href="#">Action 3</a></li>
					<li><a href="#">Action 4</a></li>
					<li><a href="#">Action 5</a></li>
					<li><a href="#">Action 6</a></li>
					<li><a href="#">Action 7</a></li>
					<li><a href="#">Action 8</a></li>
				</ul>
			</div>
		</div>
	</li>

	<li class="list-group-item">
		<div class="list-group-item-field">
			<div class="checkbox">
				<label>
					<input type="checkbox">
				</label>
			</div>
		</div>

		<div class="list-group-item-field">
			<div class="sticker sticker-default sticker-lg sticker-static">
				<svg class="lexicon-icon lexicon-icon-folder" viewBox="0 0 512 512">
					<path class="lexicon-icon-body" fill="none" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z"></path>
					<path class="lexicon-icon-outline" d="M455.1,128H352c-9.5,0-31.9-45.7-38.6-59.5C298,36.4,280.4,0,245.1,0H55.9C25.1,0,0,26.9,0,59.8v395.3C0,486.5,25.5,512,56.9,512h398.2c31.4,0,56.9-25.5,56.9-56.9V184.9C512,153.6,486.5,128,455.1,128L455.1,128z M64,67c0,0,0.3-2.4,0.7-3h178.1c5.6,5.9,14.4,31.8,19.8,43.4c3.1,6.7,6.3,13.7,9.9,20.6H64L64,67L64,67z M448,448H64l0-256h384V448z"></path>
				</svg>
			</div>
		</div>

		<div class="list-group-item-content">
			<h5>Karl Malone the best power forward in Jazz history.</h5>
			<h6>Monica Bellucci</h6>
			<h6>
				<span>5 Folders</span>
				<span>4 Entries</span>
			</h6>
		</div>

		<div class="list-group-item-field">
			<div class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#1">
					<svg class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
						<path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
					</svg>
				</a>
				<ul class="dropdown-menu dropdown-menu-left-side">
					<li class="dropdown-header">Dropdown Header</li>
					<li><a href="#">Action 1</a></li>
					<li><a href="#">Action 2</a></li>
					<li><a href="#">Action 3</a></li>
					<li><a href="#">Action 4</a></li>
					<li><a href="#">Action 5</a></li>
					<li><a href="#">Action 6</a></li>
					<li><a href="#">Action 7</a></li>
					<li><a href="#">Action 8</a></li>
				</ul>
			</div>
		</div>
	</li>
</ul>

<h3>Tabular List Group Unstyled</h3>
<ul class="tabular-list-group-unstyled">
	<li class="list-group-item">
		<div class="list-group-item-content">
			<div class="h5">Larry Bird the best power forward in Celtic's history.</div>
			<div class="h6"><a href="#1">Monica Bellucci</a></div>
			<div class="h6">
				<span>5 Folders</span>
				<span>4 Entries</span>
			</div>
		</div>

		<div class="list-group-item-field">
			<div class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#1">
					<svg class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
						<path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
					</svg>
				</a>
				<ul class="dropdown-menu dropdown-menu-left-side">
					<li class="dropdown-header">Dropdown Header</li>
					<li><a href="#">Action 1</a></li>
					<li><a href="#">Action 2</a></li>
					<li><a href="#">Action 3</a></li>
					<li><a href="#">Action 4</a></li>
					<li><a href="#">Action 5</a></li>
					<li><a href="#">Action 6</a></li>
					<li><a href="#">Action 7</a></li>
					<li><a href="#">Action 8</a></li>
				</ul>
			</div>
		</div>
	</li>

	<li class="list-group-item">
		<div class="list-group-item-content">
			<div class="h5">Karl Malone the best power forward in Jazz history.</div>
			<div class="h6"><a href="#1">Monica Bellucci</a></div>
			<div class="h6">
				<span>5 Folders</span>
				<span>4 Entries</span>
			</div>
		</div>

		<div class="list-group-item-field">
			<div class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#1">
					<svg class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
						<path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
					</svg>
				</a>
				<ul class="dropdown-menu dropdown-menu-left-side">
					<li class="dropdown-header">Dropdown Header</li>
					<li><a href="#">Action 1</a></li>
					<li><a href="#">Action 2</a></li>
					<li><a href="#">Action 3</a></li>
					<li><a href="#">Action 4</a></li>
					<li><a href="#">Action 5</a></li>
					<li><a href="#">Action 6</a></li>
					<li><a href="#">Action 7</a></li>
					<li><a href="#">Action 8</a></li>
				</ul>
			</div>
		</div>
	</li>
</ul>