<h3>Nameplate Labels</h3>
<div class="row">
	<div class="col-xs-12">
		<div class="nameplate-label nameplate-label-default">
			<div class="nameplate-field">
				<div class="user-icon">
					<img alt="thumbnail" class="img-responsive" src="../../images/thumbnail_dock.jpg">
				</div>
			</div>

			<div class="nameplate-content">
				<span class="nameplate-label-text">30 <a href="#1">Brilliant</a> Mobile Navigations</span>
			</div>

			<div class="nameplate-field">
				<a href="#1">
					<span class="">
						<svg class="icon-monospaced lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
						</svg>
					</span>
				</a>
			</div>
		</div>

		<div class="nameplate-label nameplate-label-inverse">
			<div class="nameplate-field">
				<div class="user-icon">
					<img alt="thumbnail" class="img-responsive" src="../../images/thumbnail_dock.jpg">
				</div>
			</div>

			<div class="nameplate-content">
				<span class="nameplate-label-text">10 <a href="#1">Tricks</a></span>
			</div>

			<div class="nameplate-field">
				<a href="#1">
					<span class="icon-monospaced">
						<svg class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
						</svg>
					</span>
				</a>
			</div>
		</div>

		<div class="nameplate-label nameplate-label-primary">
			<div class="nameplate-field">
				<div class="user-icon">
					<img alt="thumbnail" class="img-responsive" src="../../images/thumbnail_hot_air_ballon.jpg">
				</div>
			</div>

			<div class="nameplate-content">
				<span class="nameplate-label-text">Cream <a href="#1">percolator</a>, foam flavour frappuccino grinder cortado.</span>
			</div>

			<div class="nameplate-field">
				<div class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#1">
						<span class="icon-monospaced">
							<svg class="lexicon-icon lexicon-icon-ellipsis-v" viewBox="0 0 512 512">
								<path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
								<path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
								<path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
							</svg>
						</span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#1">Download</a></li>
						<li><a href="#1">Edit</a></li>
						<li><a href="#1">Move</a></li>
						<li><a href="#1">Checkout</a></li>
						<li><a href="#1">Permissions</a></li>
						<li><a href="#1">Move to Recycle Bin</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="nameplate-label nameplate-label-success">
			<div class="nameplate-field">
				<div class="user-icon"><img alt="thumbnail" class="img-responsive" src="../../images/thumbnail_hot_air_ballon.jpg"></div>
			</div>

			<div class="nameplate-content">
				<span class="nameplate-label-text">As, <a href="#1">breve</a> java instant cappuccino aftertaste con panna grinder ut robusta.</span>
			</div>
			<div class="nameplate-field">
				<a href="#1">
					<span class="icon-monospaced">
						<svg class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
						</svg>
					</span>
				</a>
			</div>
		</div>

		<div class="nameplate-label nameplate-label-info">
			<div class="nameplate-field">
				<div class="user-icon">
					<img alt="thumbnail" class="img-responsive" src="../../images/thumbnail_coffee.jpg">
				</div>
			</div>

			<div class="nameplate-content">
				<span class="nameplate-label-text">Cream <a href="#1">irish</a> strong kopi-luwak barista, plunger pot viennese cream extraction aftertaste beans lungo.</span>
			</div>

			<div class="nameplate-field">
				<a href="#1">
					<span class="icon-monospaced">
						<svg class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
						</svg>
					</span>
				</a>
			</div>
		</div>

		<div class="nameplate-label nameplate-label-warning">
			<div class="nameplate-field">
				<div class="user-icon user-icon-primary">AC</div>
			</div>
			<div class="nameplate-content">
				<span class="nameplate-label-text">Caffeine, <a href="#1">rich</a> id.</span>
			</div>
			<div class="nameplate-field">
				<a href="#1">
					<span class="icon-monospaced">
						<svg class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
						</svg>
					</span>
				</a>
			</div>
		</div>

		<div class="nameplate-label nameplate-label-danger nameplate-label-more">
			<div class="nameplate-content">
				<a class="nameplate-label-text" href="#1">
					<svg class="lexicon-icon lexicon-icon-ellipsis-h" viewBox="0 0 512 512">
						<path class="lexicon-icon-outline" d="M320 256c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M128 256c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
						<path class="lexicon-icon-outline" d="M512 256c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
					</svg>
				</a>
			</div>
		</div>
	</div>
</div>