<h4 class="cp-variables-form-header">Nav Pills</h4>
<%- include('../partials/cpTextInput', { id: 'nav-pills-border-radius' }) %>
<%- include('../partials/cpColorInput', { id: 'nav-pills-active-link-hover-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'nav-pills-active-link-hover-color' }) %>