<h4 class="cp-variables-form-header">Nav Pills</h4>
<%- include('../partials/cpTextInput', { id: 'nav-pills-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-pills-link-active-color' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-pills-link-active-bg' }) %>