<h3>Nav</h3>
<div class="row">
	<div class="col-md-6">
		<ul class="nav">
			<li class="nav-heading"><span>Basic Information</span></li>
			<li><a href="#1">Details</a></li>
			<li><a href="#1">Catagorization</a></li>
			<li><a href="#1">Documents and Media</a></li>
			<li><a href="#1">Site Template</a></li>
		</ul>
	</div>
</div>

<h3>Nav Nested (Padding)</h3>
<div class="row">
	<div class="col-md-6">
		<ul class="nav nav-nested">
			<li>
				<a aria-expanded="true" class="collapse-icon" data-toggle="collapse" href="#naCollapse01">
					Basic Information
					<span class="collapse-icon-closed">
						<span class="icon-caret-right"></span>
					</span>
					<span class="collapse-icon-open">
						<span class="icon-caret-down"></span>
					</span>
				</a>
				<div aria-expanded="true" class="collapse in" id="naCollapse01">
					<ul class="nav">
						<li class="active"><a href="#1">Details</a></li>
						<li><a href="#1">Catagorization</a></li>
						<li>
							<a aria-expanded="false" class="collapsed collapse-icon" data-toggle="collapse" href="#naCollapse02">
								Documents and Media
								<span class="collapse-icon-closed">
									<span class="icon-caret-right"></span>
								</span>
								<span class="collapse-icon-open">
									<span class="icon-caret-down"></span>
								</span>
							</a>
							<div aria-expanded="false" class="collapse" id="naCollapse02">
								<ul class="nav">
									<li><a href="#1">Details</a></li>
									<li><a href="#1">Catagorization</a></li>
									<li><a href="#1">Documents and Media</a></li>
									<li><a href="#1">Site Template</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#1">Site Template</a></li>
					</ul>
				</div>
			</li>
			<li>
				<a aria-expanded="false" class="collapsed collapse-icon" data-toggle="collapse" href="#naCollapse03">
					SEO
					<span class="collapse-icon-closed">
						<span class="icon-caret-right"></span>
					</span>
					<span class="collapse-icon-open">
						<span class="icon-caret-down"></span>
					</span>
				</a>
				<div aria-expanded="false" class="collapse" id="naCollapse03">
					<ul class="nav">
						<li><a href="#1">Sitemap</a></li>
						<li><a href="#1">Robots</a></li>
					</ul>
				</div>
			</li>
			<li>
				<a aria-expanded="false" class="collapsed collapse-icon" data-toggle="collapse" href="#naCollapse04">
					Advanced
					<span class="collapse-icon-closed">
						<span class="icon-caret-right"></span>
					</span>
					<span class="collapse-icon-open">
						<span class="icon-caret-down"></span>
					</span>
				</a>
				<div aria-expanded="false" class="collapse" id="naCollapse04">
					<ul class="nav">
						<li><a href="#1">Default User Associations</a></li>
						<li><a href="#1">Staging</a></li>
						<li><a href="#1">Analytics</a></li>
						<li><a href="#1">Maps</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>

<h3>Nav Nested (Margins)</h3>
<div class="row">
	<div class="col-md-6">
		<ul class="nav nav-nested-margins">
			<li>
				<a aria-expanded="true" class="collapse-icon" data-toggle="collapse" href="#naCollapse001">
					Basic Information
					<span class="collapse-icon-closed">
						<svg class="lexicon-icon" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M396.394 255.607c-0.22-6.936-2.973-13.81-8.272-19.111l-227.221-227.221c-11.026-11.059-28.94-11.059-39.999 0-11.058 11.026-11.058 28.941 0 39.999l206.333 206.333c0 0-206.333 206.333-206.333 206.333-11.058 11.058-11.058 28.973 0 39.999 11.059 11.059 28.972 11.059 39.999 0l227.221-227.221c5.3-5.3 8.053-12.175 8.272-19.111z"></path>
						</svg>
					</span>
					<span class="collapse-icon-open">
						<svg class="lexicon-icon" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M256 384c6.936-0.22 13.81-2.973 19.111-8.272l227.221-227.221c11.058-11.026 11.058-28.941 0-39.999-11.026-11.058-28.94-11.058-39.999 0l-206.333 206.333c0 0-206.333-206.333-206.333-206.333-11.059-11.058-28.973-11.058-39.999 0-11.059 11.058-11.059 28.972 0 39.999l227.221 227.221c5.3 5.3 12.174 8.053 19.111 8.272z"></path>
						</svg>
					</span>
				</a>
				<div aria-expanded="true" class="collapse in" id="naCollapse001">
					<ul class="nav">
						<li class="active"><a href="#1">Details</a></li>
						<li><a href="#1">Catagorization</a></li>
						<li>
							<a aria-expanded="false" class="collapsed collapse-icon" data-toggle="collapse" href="#naCollapse002">
								Documents and Media
								<span class="collapse-icon-closed">
									<svg class="lexicon-icon" viewBox="0 0 512 512">
										<path class="lexicon-icon-outline" d="M396.394 255.607c-0.22-6.936-2.973-13.81-8.272-19.111l-227.221-227.221c-11.026-11.059-28.94-11.059-39.999 0-11.058 11.026-11.058 28.941 0 39.999l206.333 206.333c0 0-206.333 206.333-206.333 206.333-11.058 11.058-11.058 28.973 0 39.999 11.059 11.059 28.972 11.059 39.999 0l227.221-227.221c5.3-5.3 8.053-12.175 8.272-19.111z"></path>
									</svg>
								</span>
								<span class="collapse-icon-open">
									<svg class="lexicon-icon" viewBox="0 0 512 512">
										<path class="lexicon-icon-outline" d="M256 384c6.936-0.22 13.81-2.973 19.111-8.272l227.221-227.221c11.058-11.026 11.058-28.941 0-39.999-11.026-11.058-28.94-11.058-39.999 0l-206.333 206.333c0 0-206.333-206.333-206.333-206.333-11.059-11.058-28.973-11.058-39.999 0-11.059 11.058-11.059 28.972 0 39.999l227.221 227.221c5.3 5.3 12.174 8.053 19.111 8.272z"></path>
									</svg>
								</span>
							</a>
							<div aria-expanded="false" class="collapse" id="naCollapse002">
								<ul class="nav">
									<li><a href="#1">Details</a></li>
									<li><a href="#1">Catagorization</a></li>
									<li><a href="#1">Documents and Media</a></li>
									<li><a href="#1">Site Template</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#1">Site Template</a></li>
					</ul>
				</div>
			</li>
			<li>
				<a aria-expanded="false" class="collapsed collapse-icon" data-toggle="collapse" href="#naCollapse003">
					SEO
					<span class="collapse-icon-closed">
						<svg class="lexicon-icon" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M396.394 255.607c-0.22-6.936-2.973-13.81-8.272-19.111l-227.221-227.221c-11.026-11.059-28.94-11.059-39.999 0-11.058 11.026-11.058 28.941 0 39.999l206.333 206.333c0 0-206.333 206.333-206.333 206.333-11.058 11.058-11.058 28.973 0 39.999 11.059 11.059 28.972 11.059 39.999 0l227.221-227.221c5.3-5.3 8.053-12.175 8.272-19.111z"></path>
						</svg>
					</span>
					<span class="collapse-icon-open">
						<svg class="lexicon-icon" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M256 384c6.936-0.22 13.81-2.973 19.111-8.272l227.221-227.221c11.058-11.026 11.058-28.941 0-39.999-11.026-11.058-28.94-11.058-39.999 0l-206.333 206.333c0 0-206.333-206.333-206.333-206.333-11.059-11.058-28.973-11.058-39.999 0-11.059 11.058-11.059 28.972 0 39.999l227.221 227.221c5.3 5.3 12.174 8.053 19.111 8.272z"></path>
						</svg>
					</span>
				</a>
				<div aria-expanded="false" class="collapse" id="naCollapse003">
					<ul class="nav">
						<li><a href="#1">Sitemap</a></li>
						<li><a href="#1">Robots</a></li>
					</ul>
				</div>
			</li>
			<li>
				<a aria-expanded="false" class="collapsed collapse-icon" data-toggle="collapse" href="#naCollapse004">
					Advanced
					<span class="collapse-icon-closed">
						<svg class="lexicon-icon" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M396.394 255.607c-0.22-6.936-2.973-13.81-8.272-19.111l-227.221-227.221c-11.026-11.059-28.94-11.059-39.999 0-11.058 11.026-11.058 28.941 0 39.999l206.333 206.333c0 0-206.333 206.333-206.333 206.333-11.058 11.058-11.058 28.973 0 39.999 11.059 11.059 28.972 11.059 39.999 0l227.221-227.221c5.3-5.3 8.053-12.175 8.272-19.111z"></path>
						</svg>
					</span>
					<span class="collapse-icon-open">
						<svg class="lexicon-icon" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M256 384c6.936-0.22 13.81-2.973 19.111-8.272l227.221-227.221c11.058-11.026 11.058-28.941 0-39.999-11.026-11.058-28.94-11.058-39.999 0l-206.333 206.333c0 0-206.333-206.333-206.333-206.333-11.059-11.058-28.973-11.058-39.999 0-11.059 11.058-11.059 28.972 0 39.999l227.221 227.221c5.3 5.3 12.174 8.053 19.111 8.272z"></path>
						</svg>
					</span>
				</a>
				<div aria-expanded="false" class="collapse" id="naCollapse004">
					<ul class="nav">
						<li><a href="#1">Default User Associations</a></li>
						<li><a href="#1">Staging</a></li>
						<li><a href="#1">Analytics</a></li>
						<li><a href="#1">Maps</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>