<h3>Pager</h3>
<ul class="pager">
	<li><span>Previous</span></li>
	<li><a href="#1">Next</a></li>
</ul>

<h3>Aligned Pager Sm</h3>
<ul class="pager pager-sm">
	<li class="disabled previous"><a href="#1">← Older</a></li>
	<li class="active next"><a href="#1">Newer →</a></li>
</ul>

<h3>Aligned Pager</h3>
<ul class="pager">
	<li class="disabled previous"><a href="#1">← Older</a></li>
	<li class="next"><a href="#1">Newer →</a></li>
</ul>

<h3>Aligned Pager Lg</h3>
<ul class="pager pager-lg">
	<li class="disabled previous"><a href="#1">← Older</a></li>
	<li class="active next"><a href="#1">Newer →</a></li>
</ul>