<h3>Pagination</h3>
<ul class="pagination">
	<li class="disabled">
		<a href="#1">
			<svg class="lexicon-icon lexicon-icon-caret-bottom" viewBox="0 0 512 512" style="transform:rotate(90deg);">
				<path class="lexicon-icon-outline" d="M103.5,204.3l136.1,136.1c9,9,23.7,9,32.7,0l136.1-136.1c14.6-14.6,4.3-39.5-16.4-39.5H119.9C99.2,164.8,88.9,189.7,103.5,204.3L103.5,204.3z"></path>
			</svg>
		</a>
	</li>
	<li class="disabled">
		<a href="#1">
			<svg class="lexicon-icon lexicon-icon-angle-left" viewBox="0 0 512 512">
				<path class="lexicon-icon-outline" d="M114.106 254.607c0.22 6.936 2.972 13.811 8.272 19.11l227.222 227.221c11.026 11.058 28.94 11.058 39.999 0 11.058-11.026 11.058-28.94 0-39.999l-206.333-206.333c0 0 206.333-206.333 206.333-206.333 11.058-11.059 11.058-28.973 0-39.999-11.058-11.059-28.973-11.059-39.999 0l-227.221 227.221c-5.3 5.3-8.052 12.174-8.273 19.111z"></path>
			</svg>
		</a>
	</li>
	<li class="active"><a href="#1">1</a></li>
	<li><a href="#1">2</a></li>
	<li><a href="#1">3</a></li>
	<li><a href="#1">4</a></li>
	<li><a href="#1">5</a></li>
	<li><a href="#1">6</a></li>
	<li><a href="#1">7</a></li>
	<li><a href="#1">8</a></li>
	<li><a href="#1">9</a></li>
	<li><a href="#1">10</a></li>
	<li class="ellipsis"><a href="#1">...</a></li>
	<li><a href="#1">16</a></li>
	<li>
		<a href="#1">
			<svg class="lexicon-icon lexicon-icon-angle-right" viewBox="0 0 512 512">
				<path class="lexicon-icon-outline" d="M396.394 255.607c-0.22-6.936-2.973-13.81-8.272-19.111l-227.221-227.221c-11.026-11.059-28.94-11.059-39.999 0-11.058 11.026-11.058 28.941 0 39.999l206.333 206.333c0 0-206.333 206.333-206.333 206.333-11.058 11.058-11.058 28.973 0 39.999 11.059 11.059 28.972 11.059 39.999 0l227.221-227.221c5.3-5.3 8.053-12.175 8.272-19.111z"></path>
			</svg>
		</a>
	</li>
	<li>
		<a href="#1">
			<svg class="lexicon-icon lexicon-icon-caret-bottom" viewBox="0 0 512 512" style="transform:rotate(-90deg);">
				<path class="lexicon-icon-outline" d="M103.5,204.3l136.1,136.1c9,9,23.7,9,32.7,0l136.1-136.1c14.6-14.6,4.3-39.5-16.4-39.5H119.9C99.2,164.8,88.9,189.7,103.5,204.3L103.5,204.3z"></path>
			</svg>
		</a>
	</li>
</ul>

<h3>Pagination Sm</h3>
<div class="pagination-bar pagination-sm">
	<div class="dropdown pagination-items-per-page">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#1">
			10 entries
			<svg class="lexicon-icon lexicon-icon-caret-double-l" viewBox="0 0 512 512">
				<path class="lexicon-icon-outline" d="M347.913 199.336l-81.538-85c-5.413-5.642-14.188-5.642-19.6 0l-81.538 85c-8.731 9.101-2.548 24.664 9.8 24.664h163.077c12.348 0 18.531-15.563 9.8-24.664z"></path>
				<path class="lexicon-icon-outline" d="M165.236 312.664l81.538 85c5.412 5.642 14.188 5.642 19.6 0l81.538-85c8.731-9.101 2.548-24.664-9.8-24.664h-163.077c-12.347 0-18.531 15.563-9.8 24.664z"></path>
			</svg>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#1">5</a></li>
			<li><a href="#1">10</a></li>
			<li><a href="#1">20</a></li>
			<li><a href="#1">30</a></li>
			<li><a href="#1">50</a></li>
		</ul>
	</div>

	<div class="pagination-results">Showing 1 to 20 of 203 entries.</div>

	<ul class="pagination">
		<li class="disabled">
			<a href="#1">
				<svg class="lexicon-icon lexicon-icon-caret-bottom" viewBox="0 0 512 512" style="transform:rotate(90deg);">
					<path class="lexicon-icon-outline" d="M103.5,204.3l136.1,136.1c9,9,23.7,9,32.7,0l136.1-136.1c14.6-14.6,4.3-39.5-16.4-39.5H119.9C99.2,164.8,88.9,189.7,103.5,204.3L103.5,204.3z"></path>
				</svg>
			</a>
		</li>
		<li class="active"><a href="#1">1</a></li>
		<li><a href="#1">2</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#1">...</a>
			<div class="dropdown-menu dropdown-menu-top-center">
				<ul class="inline-scroller link-list">
					<li><a href="#1">3</a></li>
					<li><a href="#1">4</a></li>
					<li><a href="#1">5</a></li>
					<li><a href="#1">6</a></li>
					<li><a href="#1">7</a></li>
					<li><a href="#1">8</a></li>
					<li><a href="#1">9</a></li>
					<li><a href="#1">10</a></li>
					<li><a href="#1">11</a></li>
					<li><a href="#1">12</a></li>
					<li><a href="#1">13</a></li>
					<li><a href="#1">14</a></li>
					<li><a href="#1">15</a></li>
				</ul>
			</div>
		</li>
		<li><a href="#1">16</a></li>
		<li>
			<a href="#1">
				<svg class="lexicon-icon lexicon-icon-caret-bottom" viewBox="0 0 512 512" style="transform:rotate(-90deg);">
					<path class="lexicon-icon-outline" d="M103.5,204.3l136.1,136.1c9,9,23.7,9,32.7,0l136.1-136.1c14.6-14.6,4.3-39.5-16.4-39.5H119.9C99.2,164.8,88.9,189.7,103.5,204.3L103.5,204.3z"></path>
				</svg>
			</a>
		</li>
	</ul>
</div>

<h3>Pagination Bar</h3>
<div class="pagination-bar">
	<div class="dropdown pagination-items-per-page">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#1">10 entries <span class="icon-sort"></span></a>
		<ul class="dropdown-menu">
			<li><a href="#1">5</a></li>
			<li><a href="#1">10</a></li>
			<li><a href="#1">20</a></li>
			<li><a href="#1">30</a></li>
			<li><a href="#1">50</a></li>
		</ul>
	</div>

	<div class="pagination-results">Showing 1 to 20 of 203 entries.</div>

	<ul class="pagination">
		<li class="disabled"><a href="#1"><span class="icon-caret-left"></span></a></li>
		<li class="active"><a href="#1">1</a></li>
		<li><a href="#1">2</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#1">...</a>
			<div class="dropdown-menu dropdown-menu-top-center">
				<ul class="inline-scroller link-list">
					<li><a href="#1">3</a></li>
					<li><a href="#1">4</a></li>
					<li><a href="#1">5</a></li>
					<li><a href="#1">6</a></li>
					<li><a href="#1">7</a></li>
					<li><a href="#1">8</a></li>
					<li><a href="#1">9</a></li>
					<li><a href="#1">10</a></li>
					<li><a href="#1">11</a></li>
					<li><a href="#1">12</a></li>
					<li><a href="#1">13</a></li>
					<li><a href="#1">14</a></li>
					<li><a href="#1">15</a></li>
				</ul>
			</div>
		</li>
		<li><a href="#1">16</a></li>
		<li><a href="#1"><span class="icon-caret-right"></span></a></li>
	</ul>
</div>

<h3>Pagination Lg</h3>
<div class="pagination-bar pagination-lg">
	<div class="dropdown pagination-items-per-page">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#1">10 entries <span class="icon-sort"></span></a>
		<ul class="dropdown-menu">
			<li><a href="#1">5</a></li>
			<li><a href="#1">10</a></li>
			<li><a href="#1">20</a></li>
			<li><a href="#1">30</a></li>
			<li><a href="#1">50</a></li>
		</ul>
	</div>

	<div class="pagination-results">Showing 1 to 20 of 203 entries.</div>

	<ul class="pagination">
		<li class="disabled"><a href="#1"><span class="icon-caret-left"></span></a></li>
		<li class="active"><a href="#1">1</a></li>
		<li><a href="#1">2</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#1">...</a>
			<div class="dropdown-menu dropdown-menu-top-center">
				<ul class="inline-scroller link-list">
					<li><a href="#1">3</a></li>
					<li><a href="#1">4</a></li>
					<li><a href="#1">5</a></li>
					<li><a href="#1">6</a></li>
					<li><a href="#1">7</a></li>
					<li><a href="#1">8</a></li>
					<li><a href="#1">9</a></li>
					<li><a href="#1">10</a></li>
					<li><a href="#1">11</a></li>
					<li><a href="#1">12</a></li>
					<li><a href="#1">13</a></li>
					<li><a href="#1">14</a></li>
					<li><a href="#1">15</a></li>
				</ul>
			</div>
		</li>
		<li><a href="#1">16</a></li>
		<li><a href="#1"><span class="icon-caret-right"></span></a></li>
	</ul>
</div>