<div class="autofit-row cp-page-navigation cp-page-navigation-top">
	<div class="autofit-col autofit-col-expand">
		<a href="/panel">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow-up" id="cpOrderArrowLeft">
				<use xlink:href="../../images/icons/icons.svg#order-arrow-up" />
			</svg>
			Panel
		</a>
	</div>
	<div class="autofit-col">
		<a href="/progress-bar">
			Progress Bar
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow-up" id="cpOrderArrowRight">
				<use xlink:href="../../images/icons/icons.svg#order-arrow-up" />
			</svg>
		</a>
	</div>
</div>

<h3>Clay Popover Top</h3>
<div class="cp-example-container">
	<div class="clay-popover-top fade popover show">
		<div class="arrow"></div>
		<div class="inline-scroller">
			<div class="popover-header">Popover top</div>
			<div class="popover-body">
				Viennese flavour cup eu, percolator froth ristretto mazagran caffeine. White roast seasonal, mocha trifecta, dripper caffeine spoon acerbic to go macchiato strong. Viennese flavour cup eu, percolator froth ristretto mazagran caffeine. White roast seasonal, mocha trifecta, dripper caffeine spoon acerbic to go macchiato strong. Viennese flavour cup eu, percolator froth ristretto mazagran caffeine. White roast seasonal, mocha trifecta, dripper caffeine spoon acerbic to go macchiato strong. Viennese flavour cup eu, percolator froth ristretto mazagran caffeine. White roast seasonal, mocha trifecta, dripper caffeine spoon acerbic to go macchiato strong.
			</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="clay-popover-top-left fade popover show">
		<div class="arrow"></div>
		<div class="inline-scroller">
			<div class="popover-header">Popover top left</div>
			<div class="popover-body">
				Viennese flavour cup eu, percolator froth ristretto mazagran caffeine. White roast seasonal, mocha trifecta, dripper caffeine spoon acerbic to go macchiato strong.
			</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="clay-popover-top-right fade popover show">
		<div class="arrow"></div>
		<div class="inline-scroller">
			<div class="popover-header">Popover top right</div>
			<div class="popover-body">
				Viennese flavour cup eu, percolator froth ristretto mazagran caffeine. White roast seasonal, mocha trifecta, dripper caffeine spoon acerbic to go macchiato strong.
			</div>
		</div>
	</div>
</div>

<h3>Clay Popover Right</h3>
<div class="cp-example-container">
	<div class="clay-popover-right fade popover show">
		<div class="arrow"></div>
		<div class="inline-scroller">
			<div class="popover-header">Popover right</div>
			<div class="popover-body">
				Viennese flavour cup eu, percolator froth ristretto mazagran caffeine. White roast seasonal, mocha trifecta, dripper caffeine spoon acerbic to go macchiato strong.
			</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="clay-popover-right-top fade popover show">
		<div class="arrow"></div>
		<div class="inline-scroller">
			<div class="popover-header">Popover right top</div>
			<div class="popover-body">
				Viennese flavour cup eu, percolator froth ristretto mazagran caffeine. White roast seasonal, mocha trifecta, dripper caffeine spoon acerbic to go macchiato strong.
			</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="clay-popover-right-bottom fade popover show">
		<div class="arrow"></div>
		<div class="inline-scroller">
			<div class="popover-header">Popover right bottom</div>
			<div class="popover-body">
				Viennese flavour cup eu, percolator froth ristretto mazagran caffeine. White roast seasonal, mocha trifecta, dripper caffeine spoon acerbic to go macchiato strong.
			</div>
		</div>
	</div>
</div>

<h3>Clay Popover Bottom</h3>
<div class="cp-example-container">
	<div class="clay-popover-bottom fade popover show">
		<div class="arrow"></div>
		<div class="inline-scroller">
			<div class="popover-header">Popover right bottom</div>
			<div class="popover-body">
				Viennese flavour cup eu, percolator froth ristretto mazagran caffeine. White roast seasonal, mocha trifecta, dripper caffeine spoon acerbic to go macchiato strong.
			</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="clay-popover-bottom-left fade popover show">
		<div class="arrow"></div>
		<div class="inline-scroller">
			<div class="popover-header">Popover right bottom left</div>
			<div class="popover-body">
				Viennese flavour cup eu, percolator froth ristretto mazagran caffeine. White roast seasonal, mocha trifecta, dripper caffeine spoon acerbic to go macchiato strong.
			</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="clay-popover-bottom-right fade popover show">
		<div class="arrow"></div>
		<div class="inline-scroller">
			<div class="popover-header">Popover right bottom right</div>
			<div class="popover-body">
				Viennese flavour cup eu, percolator froth ristretto mazagran caffeine. White roast seasonal, mocha trifecta, dripper caffeine spoon acerbic to go macchiato strong.
			</div>
		</div>
	</div>
</div>

<h3>Clay Popover Left</h3>
<div class="cp-example-container">
	<div class="clay-popover-left fade popover show">
		<div class="arrow"></div>
		<div class="inline-scroller">
			<div class="popover-header">Popover left</div>
			<div class="popover-body">
				Viennese flavour cup eu, percolator froth ristretto mazagran caffeine. White roast seasonal, mocha trifecta, dripper caffeine spoon acerbic to go macchiato strong.
			</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="clay-popover-left-top fade popover show">
		<div class="arrow"></div>
		<div class="inline-scroller">
			<div class="popover-header">Popover left top</div>
			<div class="popover-body">
				Viennese flavour cup eu, percolator froth ristretto mazagran caffeine. White roast seasonal, mocha trifecta, dripper caffeine spoon acerbic to go macchiato strong.
			</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="clay-popover-left-bottom fade popover show">
		<div class="arrow"></div>
		<div class="inline-scroller">
			<div class="popover-header">Popover left bottom</div>
			<div class="popover-body">
				Viennese flavour cup eu, percolator froth ristretto mazagran caffeine. White roast seasonal, mocha trifecta, dripper caffeine spoon acerbic to go macchiato strong.
			</div>
		</div>
	</div>
</div>

<div class="autofit-row cp-page-navigation cp-page-navigation-bottom">
	<div class="autofit-col autofit-col-expand">
		<a href="/panel">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow-up" id="cpOrderArrowLeft">
				<use xlink:href="../../images/icons/icons.svg#order-arrow-up" />
			</svg>
			Panel
		</a>
	</div>
	<div class="autofit-col">
		<a href="/progress-bar">
			Progress Bar
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow-up" id="cpOrderArrowRight">
				<use xlink:href="../../images/icons/icons.svg#order-arrow-up" />
			</svg>
		</a>
	</div>
</div>