<h3>Stickers</h3>
<div class="row">
	<div class="col-md-3 col-xs-6">
		<div class="aspect-ratio" style="background-color:#EEE;">
			<span class="sticker sticker-danger">PDF</span>
		</div>
	</div>

	<div class="col-md-3 col-xs-6">
		<div class="aspect-ratio" style="background-color:#EEE;">
			<span class="sticker sticker-bottom sticker-danger">PDF</span>
		</div>
	</div>

	<div class="col-md-3 col-xs-6">
		<div class="aspect-ratio" style="background-color:#EEE;">
			<span class="sticker sticker-danger sticker-right">PDF</span>
		</div>
	</div>

	<div class="col-md-3 col-xs-6">
		<div class="aspect-ratio" style="background-color:#EEE;">
			<span class="sticker sticker-bottom sticker-danger sticker-right">PDF</span>
		</div>
	</div>
</div>

<h3>Sticker Static</h3>
<div>
	<span class="sticker sticker-default sticker-static">133</span>
	<span class="sticker sticker-danger sticker-static">133</span>
	<span class="sticker sticker-info sticker-static">133</span>
	<span class="sticker sticker-primary sticker-static">133</span>
	<span class="sticker sticker-static sticker-success">133</span>
	<span class="sticker sticker-static sticker-warning">133</span>
</div>

<h3>Sticker Sizes</h3>
<div>
	<span class="sticker sticker-default sticker-sm sticker-static">133</span>
	<span class="sticker sticker-primary sticker-static">133</span>
	<span class="sticker sticker-lg sticker-static sticker-success">133</span>
</div>

<h3>Sticker Shapes</h3>
<div>
	<span class="sticker sticker-circle sticker-default sticker-static">133</span>
	<span class="sticker sticker-primary sticker-rounded sticker-static">133</span>
	<span class="sticker sticker-square sticker-static sticker-success">133</span>
</div>

<h3>Sticker Outside</h3>
<div class="row">
	<div class="col-md-3 col-xs-6">
		<button class="btn btn-primary" style="position:relative;">
			Email
			<span class="sticker sticker-circle sticker-danger sticker-outside">133</span>
		</button>
	</div>

	<div class="col-md-3 col-xs-6">
		<button class="btn btn-primary" style="position:relative;">
			Email
			<span class="sticker sticker-bottom sticker-circle sticker-danger sticker-outside">133</span>
		</button>
	</div>

	<div class="col-md-3 col-xs-6">
		<button class="btn btn-primary" style="position:relative;">
			Email
			<span class="sticker sticker-circle sticker-danger sticker-outside sticker-right">133</span>
		</button>
	</div>

	<div class="col-md-3 col-xs-6">
		<button class="btn btn-primary" style="position:relative;">
			Email
			<span class="sticker sticker-bottom sticker-circle sticker-danger sticker-outside sticker-right">133</span>
		</button>
	</div>
</div>