<h3>Toggle Card</h3>
<div class="row">
	<div class="col-sm-4">
		<label>
			<input class="toggle-card" type="checkbox" value="">
			<div class="toggle-card-container">
				<div class="toggle-card-cell">
					<div class="toggle-card-icon">
						<span class="icon-ok"></span>
					</div>
					<div class="toggle-card-label">
						<span>Regular Label</span>
					</div>
				</div>
			</div>
		</label>
	</div>
	<div class="col-sm-4">
		<label>
			<input class="toggle-card" type="checkbox" value="">
			<div class="toggle-card-container">
				<div class="toggle-card-cell">
					<div class="toggle-card-icon">
						<span class="icon-lock toggle-card-off"></span>
						<span class="icon-ok toggle-card-on"></span>
					</div>
					<div class="toggle-card-label">
						<span>Regular Label</span>
					</div>
				</div>
			</div>
		</label>
	</div>
	<div class="col-sm-4">
		<label>
			<input class="toggle-card" type="checkbox" value="">
			<div class="toggle-card-container">
				<div class="toggle-card-cell">
					<div class="toggle-card-icon">
						<span class="icon-lock toggle-card-off"></span>
						<span class="icon-ok toggle-card-on"></span>
					</div>
					<div class="toggle-card-label">
						<span class="toggle-card-off">labelOff</span>
						<span class="toggle-card-on">labelOn</span>
					</div>
				</div>
			</div>
		</label>
	</div>
</div>

<h3>Disabled Toggle Card</h3>
<div class="form-group">
	<label>
		<input class="toggle-card" disabled="" type="checkbox" value="">
		<div class="toggle-card-container">
			<div class="toggle-card-cell">
				<div class="toggle-card-icon">
					<span class="icon-lock toggle-card-off"></span>
					<span class="icon-ok toggle-card-on"></span>
				</div>
				<div class="toggle-card-label">
					<span class="toggle-card-off">labelOff</span>
					<span class="toggle-card-on">labelOn</span>
				</div>
			</div>
		</div>
	</label>
</div>