<h3>Tooltip</h3>
<div class="row">
	<div class="cp-example-container">
		<div class="tooltip right in">
			<div class="tooltip-arrow"></div>
			<div class="tooltip-inner">
				<div>Tooltip on the right</div>
			</div>
		</div>
	</div>
	<div class="cp-example-container">
		<div class="tooltip left in">
			<div class="tooltip-arrow"></div>
			<div class="tooltip-inner">
				<div>Tooltip on the left</div>
			</div>
		</div>
	</div>
	<div class="cp-example-container">
		<div class="tooltip bottom in">
			<div class="tooltip-arrow"></div>
			<div class="tooltip-inner">
				<div>Tooltip on bottom and some text to help illustrate some of the tooltip variables better.</div>
			</div>
		</div>
	</div>
	<div class="cp-example-container">
		<div class="tooltip top in">
			<div class="tooltip-arrow"></div>
			<div class="tooltip-inner">
				<div>Tooltip on top</div>
			</div>
		</div>
	</div>
</div>