<div class="autofit-row cp-page-navigation cp-page-navigation-top">
	<div class="autofit-col autofit-col-expand">
		<a href="/tbar">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow-up" id="cpOrderArrowLeft">
				<use xlink:href="../../images/icons/icons.svg#order-arrow-up" />
			</svg>
			Tbar
		</a>
	</div>
	<div class="autofit-col">
		<a href="/timeline">
			Timeline
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow-up" id="cpOrderArrowRight">
				<use xlink:href="../../images/icons/icons.svg#order-arrow-up" />
			</svg>
		</a>
	</div>
</div>

<h3>Clay Tooltip Right</h3>
<div class="cp-example-container">
	<div class="fade tooltip clay-tooltip-right show" role="tooltip">
		<div class="arrow"></div>
		<div class="tooltip-inner">
			<div>Tooltip on the right</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="fade tooltip clay-tooltip-right-top show" role="tooltip">
		<div class="arrow"></div>
		<div class="tooltip-inner">
			<div>Tooltip on the right top</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="fade tooltip clay-tooltip-right-bottom show" role="tooltip">
		<div class="arrow"></div>
		<div class="tooltip-inner">
			<div>Tooltip on the right bottom</div>
		</div>
	</div>
</div>

<h3>Clay Tooltip Left</h3>
<div class="cp-example-container">
	<div class="fade tooltip clay-tooltip-left show" role="tooltip">
		<div class="arrow"></div>
		<div class="tooltip-inner">
			<div>Tooltip on the left</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="fade tooltip clay-tooltip-left-top show" role="tooltip">
		<div class="arrow"></div>
		<div class="tooltip-inner">
			<div>Tooltip on the left top</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="fade tooltip clay-tooltip-left-bottom show" role="tooltip">
		<div class="arrow"></div>
		<div class="tooltip-inner">
			<div>Tooltip on the left bottom</div>
		</div>
	</div>
</div>

<h3>Clay Tooltip Bottom</h3>
<div class="cp-example-container">
	<div class="fade tooltip clay-tooltip-bottom show" role="tooltip">
		<div class="arrow"></div>
		<div class="tooltip-inner">
			<div>Tooltip on the bottom</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="fade tooltip clay-tooltip-bottom-left show" role="tooltip">
		<div class="arrow"></div>
		<div class="tooltip-inner">
			<div>Tooltip on the bottom left</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="fade tooltip clay-tooltip-bottom-right show" role="tooltip">
		<div class="arrow"></div>
		<div class="tooltip-inner">
			<div>Tooltip on the bottom right</div>
		</div>
	</div>
</div>

<h3>Clay Tooltip Top</h3>
<div class="cp-example-container">
	<div class="fade tooltip clay-tooltip-top show" role="tooltip">
		<div class="arrow"></div>
		<div class="tooltip-inner">
			<div>Tooltip on the top</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="fade tooltip clay-tooltip-top-left show" role="tooltip">
		<div class="arrow"></div>
		<div class="tooltip-inner">
			<div>Tooltip on the top left</div>
		</div>
	</div>
</div>
<div class="cp-example-container">
	<div class="fade tooltip clay-tooltip-top-right show" role="tooltip">
		<div class="arrow"></div>
		<div class="tooltip-inner">
			<div>Tooltip on the top right</div>
		</div>
	</div>
</div>

<div class="autofit-row cp-page-navigation cp-page-navigation-bottom">
	<div class="autofit-col autofit-col-expand">
		<a href="/tbar">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow-up" id="cpOrderArrowLeft">
				<use xlink:href="../../images/icons/icons.svg#order-arrow-up" />
			</svg>
			Tbar
		</a>
	</div>
	<div class="autofit-col">
		<a href="/timeline">
			Timeline
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow-up" id="cpOrderArrowRight">
				<use xlink:href="../../images/icons/icons.svg#order-arrow-up" />
			</svg>
		</a>
	</div>
</div>