<style>.row{height:40px;}</style>
<h3>Tooltip</h3>
<div class="row">
	<div class="col-md-6">
		<div class="tooltip right in">
			<div class="tooltip-arrow"></div>
			<div class="tooltip-inner">
				<div>Tooltip on the right</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="tooltip left in">
			<div class="tooltip-arrow"></div>
			<div class="tooltip-inner">
				<div>Tooltip on the left</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="tooltip bottom in">
			<div class="tooltip-arrow"></div>
			<div class="tooltip-inner">
				<div>Tooltip on bottom</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="tooltip top in">
			<div class="tooltip-arrow"></div>
			<div class="tooltip-inner">
				<div>Tooltip on top</div>
			</div>
		</div>
	</div>
</div>