<h3>User Icon</h3>
<div class="row">
	<div class="cp-user-icon-container">
		<div class="user-icon user-icon-default"><span>JB</span></div>
		<p>user-icon-default</p>
	</div>
	<div class="cp-user-icon-container">
		<div class="user-icon user-icon-primary"><span>SP</span></div>
		<p>user-icon-primary</p>
	</div>
	<div class="cp-user-icon-container">
		<div class="user-icon user-icon-success"><span>TT</span></div>
		<p>user-icon-success</p>
	</div>
	<div class="cp-user-icon-container">
		<div class="user-icon user-icon-info"><span>WW</span></div>
		<p>user-icon-info</p>
	</div>
	<div class="cp-user-icon-container">
		<div class="user-icon user-icon-warning"><span>JB</span></div>
		<p>user-icon-warning</p>
	</div>
	<div class="cp-user-icon-container">
		<div class="user-icon user-icon-danger"><span>JB</span></div>
		<p>user-icon-danger</p>
	</div>
</div>

<h3>User Icon Sizes</h3>
<div class="row">
	<div class="cp-user-icon-container">
		<div class="user-icon user-icon-default user-icon-xs"><span>JB</span></div>
		<p>user-icon-xs</p>
	</div>
	<div class="cp-user-icon-container">
		<div class="user-icon user-icon-primary user-icon-sm"><span>SP</span></div>
		<p>user-icon-sm</p>
	</div>
	<div class="cp-user-icon-container">
		<div class="user-icon user-icon-success"><span>TT</span></div>
		<p>default size</p>
	</div>
	<div class="cp-user-icon-container">
		<div class="user-icon user-icon-info user-icon-lg"><span>WW</span></div>
		<p>user-icon-lg</p>
	</div>
	<div class="cp-user-icon-container">
		<div class="user-icon user-icon-warning user-icon-xl"><span>JB</span></div>
		<p>user-icon-xl</p>
	</div>
	<div class="cp-user-icon-container">
		<div class="user-icon user-icon-danger user-icon-xxl"><span>JB</span></div>
		<p>user-icon-xxl</p>
	</div>
</div>

<h3>User Icon Helper Classes</h3>
<div class="row">
	<div class="cp-user-icon-container">
		<div class="user-icon user-icon-circle">
			<img alt="thumbnail" class="img-responsive" src="../../images/thumbnail_placeholder.gif">
		</div>
		<p>user-icon-circle</p>
	</div>
	<div class="cp-user-icon-container">
		<div class="user-icon user-icon-rounded">
			<img alt="thumbnail" class="img-responsive" src="../../images/thumbnail_placeholder.gif">
		</div>
		<p>user-icon-rounded</p>
	</div>
	<div class="cp-user-icon-container">
		<div class="user-icon user-icon-square">
			<img alt="thumbnail" class="img-responsive" src="../../images/thumbnail_placeholder.gif">
		</div>
		<p>user-icon-square</p>
	</div>
</div>