<h4 class="cp-variables-form-header">Menubar Vertical Transparent Md</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="menubar-vertical-transparent-md" name="clay[menubar-vertical-transparent-md]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpClayMenubarVerticalVariant', { namespace: 'menubar-vertical-transparent-md' }) %>
</div>

<h4 class="cp-variables-form-header">Menubar Vertical Expand Md</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="menubar-vertical-expand-md" name="clay[menubar-vertical-expand-md]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpClayMenubarVerticalExpandMixin', { namespace: 'menubar-vertical-expand-md' }) %>
</div>

<h4 class="cp-variables-form-header">Menubar Vertical Transparent Lg</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="menubar-vertical-transparent-lg" name="clay[menubar-vertical-transparent-lg]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpClayMenubarVerticalVariant', { namespace: 'menubar-vertical-transparent-lg' }) %>
</div>

<h4 class="cp-variables-form-header">Menubar Vertical Expand Lg</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="menubar-vertical-expand-lg" name="clay[menubar-vertical-expand-lg]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpClayMenubarVerticalExpandMixin', { namespace: 'menubar-vertical-expand-lg' }) %>
</div>