<h4 class="cp-variables-form-header">Navigation Bar Size</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="navigation-bar-size" name="clay[navigation-bar-size]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpClayNavbarSizeMixin', { namespace: 'navigation-bar-size' }) %>
</div>

<h4 class="cp-variables-form-header">Navigation Bar Light</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="navigation-bar-light" name="clay[navigation-bar-light]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpClayNavbarVariantMixin', { namespace: 'navigation-bar-light' }) %>
</div>

<h4 class="cp-variables-form-header">Navigation Bar Secondary</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="navigation-bar-secondary" name="clay[navigation-bar-secondary]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpClayNavbarVariantMixin', { namespace: 'navigation-bar-secondary' }) %>
</div>