<h4 class="cp-variables-form-header">Management Bar Size</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="management-bar-size" name="clay[management-bar-size]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayNavbarSizeMixin', { namespace: 'management-bar-size' }) %>
</div>

<h4 class="cp-variables-form-header">Management Bar Light</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="management-bar-light" name="clay[management-bar-light]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayNavbarVariantMixin', { namespace: 'management-bar-light' }) %>
</div>

<h4 class="cp-variables-form-header">Management Bar Primary</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="management-bar-primary" name="clay[management-bar-primary]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayNavbarVariantMixin', { namespace: 'management-bar-primary' }) %>
</div>