<h4 class="cp-variables-form-header">Application Bar Size</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="application-bar-size" name="clay[application-bar-size]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpClayNavbarSizeMixin', { namespace: 'application-bar-size' }) %>
</div>

<h4 class="cp-variables-form-header">Application Bar Dark</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="application-bar-dark" name="clay[application-bar-dark]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpClayNavbarVariantMixin', { namespace: 'application-bar-dark' }) %>
</div>