<h4 class="cp-variables-form-header">Autofit Col</h4>
<%-
	printInputs([
		{ id: 'autofit-col-expand-min-width', },
	]);
%>

<h4 class="cp-variables-form-header">Autofit Padded</h4>
<%-
	printInputs([
		{ id: 'autofit-padded-col-padding-y', },
		{ id: 'autofit-padded-col-padding-x', },
	]);
%>

<h4 class="cp-variables-form-header">Inline Item</h4>
<%-
	printInputs([
		{ id: 'inline-item-spacer-x', },
		{ id: 'inline-item-lexicon-icon-margin-top', },
	]);
%>

<h4 class="cp-variables-form-header">Bg Checkered</h4>
<%-
	printInputs([
		{ id: 'bg-checkered-fg', color: true, },
	]);
%>